n8n/Content Workflow.json
{
  "name": "Content Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-saas",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-816, 1104],
      "id": "efa7792b-548b-40da-b88f-86984636f211",
      "name": "Webhook",
      "webhookId": "7575bd2a-465e-475e-bd33-11708a3d7d10"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.identifier }}",
                    "rightValue": "autofill",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a18c6315-1e25-4427-9fae-0cf97c7724b4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "autofill"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0138af76-bff4-4363-bece-65ebbd0fdcc2",
                    "leftValue": "={{ $json.body.identifier }}",
                    "rightValue": "generateAngles",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generateAngles"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7b496e28-880e-4512-a83f-370d1a336fa2",
                    "leftValue": "={{ $json.body.identifier }}",
                    "rightValue": "generateIdeas",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generateIdeas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "423d9bca-1678-4eca-bd9c-4b2741da673e",
                    "leftValue": "={{ $json.body.identifier }}",
                    "rightValue": "generateContent",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generateContent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-528, 1072],
      "id": "8ee9f5aa-9a83-455d-86c0-442fdd7cc9af",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/on_page/instant_pages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"url\": \"{{ $('Webhook').item.json.body.website }}\",\n    \"enable_javascript\": true,\n    \"store_raw_html\": true,\n    \"enable_browser_rendering\": true\n  }\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [80, 224],
      "id": "5c480006-5992-4cf4-b09f-a81789e06902",
      "name": "HTTP Request12",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "FDdayqa6NXg9No9V",
          "name": "retell ai API"
        },
        "httpBasicAuth": {
          "id": "6KuHQhQXreDfbs8q",
          "name": "DataforSEO Esteban"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dataforseo.com/v3/on_page/raw_html",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n  {\n    \"id\": \"{{ $json.tasks[0].id }}\",\n    \"url\": \"{{ $json.tasks[0].data.url }}\"\n  }\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 224],
      "id": "dad69f5f-b47c-4a19-8161-73d761d39378",
      "name": "HTTP Request13",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FDdayqa6NXg9No9V",
          "name": "retell ai API"
        },
        "httpBasicAuth": {
          "id": "6KuHQhQXreDfbs8q",
          "name": "DataforSEO Esteban"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "html": "={{ $json.tasks[0].result[0].items.html }}",
        "options": {
          "ignore": "img,a"
        }
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [448, 80],
      "id": "ead2a610-cd3e-442e-b560-25b069e8a2c0",
      "name": "Markdown1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Input Provided:\n- **Name:** [Company/Personal Brand Name]: {{ $('Webhook').item.json.body.brandName }}\n- **Website:** [Content]: {{ $('Webhook').item.json.body.website }}\n\n- **Additional Info:** [Any additional context, offer details, or notes]: {{ $('Webhook').item.json.body.additionalInfo }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a world-class marketing strategist with deep expertise in digital positioning, consumer psychology, and business strategy. Your role is to analyze the provided information and extract strategic insights that will form the foundation of a powerful content strategy.\n\n## Your Mission:\nTransform minimal input into comprehensive strategic understanding by reading between the lines, identifying patterns, and making intelligent inferences about the business.\n\n## Input Provided:\n- **Name:** [Company/Personal Brand Name]\n- **Website:** [URL]\n- **Additional Info:** [Any additional context, offer details, or notes]\n\n## Your Analysis Framework:\n\n### Deep Dive Discovery\nBased on the website content, language patterns, visual design, case studies, team composition, pricing structure, and any additional information provided, extract and synthesize:\n\n### Target Audience Profile\n**Primary Audience:**\n- Who they serve (job titles, company size, industry)\n- Pain points they're experiencing\n- Aspirations and desired outcomes\n- Decision-making criteria\n- Where they consume content\n- Language they use to describe their challenges\n\n**Secondary Audiences:**\n- Potential talent they want to attract\n- Partners or investors\n- Industry peers and thought leaders\n\n### Brand Voice & Tone Architecture\n**Communication Style:**\n- Personality traits evident in their messaging\n- Level of formality vs. conversational approach\n- Technical depth vs. accessibility\n- Emotional triggers they leverage\n- Storytelling approach\n- How they differentiate from typical industry communication\n\n**Content DNA:**\n- Topics they have unique authority on\n- Perspectives that set them apart\n- Values that shine through their messaging\n\n### Core Value Proposition Deconstruction\n**The Offer Ecosystem:**\n- What they explicitly sell\n- The transformation they promise\n- Hidden value propositions not directly stated\n- Why someone would choose them over alternatives\n- The deeper problem they're really solving\n- Their unfair advantage or unique mechanism\n\n**Strategic Positioning:**\n- Market category they own or are creating\n- How they want to be perceived\n- The conversation they're trying to change\n- Their vision for their customer's future\n\n## Additional Strategic Insights:\n- Content opportunities they're missing\n- Audience segments they could expand into\n- Messaging gaps to address\n- Competitive advantages to amplify\n\n## Your Output Approach:\n- Be specific and actionable, not generic\n- Make intelligent leaps based on evidence\n- Connect dots between different pieces of information\n- Identify what's not being said but should be\n- Think like their ideal customer\n- Consider their business model implications\n\nRemember: You're not just analyzing what's there—you're uncovering what could be. Your insights will directly inform content strategies that drive real business results.\n\n\n---\n\nStrict Schema:\n{\n  \"name\": \"message_schema\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"targetAudience\": {\n        \"type\": \"string\",\n        \"description\": \"Defines the target audience of the message in detail.\"\n      },\n      \"brandTone\": {\n        \"type\": \"string\",\n        \"description\": \"Describes the tone of the message (e.g., formal, informal, persuasive ).in detail\"\n      },\n      \"keyOffer\": {\n        \"type\": \"string\",\n        \"description\": \"Details the offer being presented in the message. in detail\"\n      }\n    },\n    \"required\": [\n      \"targetAudience\",\n      \"brandTone\",\n      \"keyOffer\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}\n\n\n---\n\nKeep everything in detailed string."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [672, 64],
      "id": "3b635142-e53e-4547-96a8-45fe9dae809f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [560, 240],
      "id": "be3e51d7-8621-4ad2-9ab0-20254e6fbff3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Dd9LWWgVSUeqLvEW",
          "name": "Ai-gent Lab Project"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"message_schema\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"targetAudience\": {\n        \"type\": \"string\",\n        \"description\": \"Defines the target audience of the message in detail.\"\n      },\n      \"brandTone\": {\n        \"type\": \"string\",\n        \"description\": \"Describes the tone of the message (e.g., formal, informal, persuasive ).in detail\"\n      },\n      \"keyOffer\": {\n        \"type\": \"string\",\n        \"description\": \"Details the offer being presented in the message. in detail\"\n      }\n    },\n    \"required\": [\n      \"targetAudience\",\n      \"brandTone\",\n      \"keyOffer\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [976, 288],
      "id": "8dcf2b52-88be-4c53-8aba-62889bf7f2cf",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"targetAudience\": {{ $json.target_audience }},\n  \"brandTone\": {{ $json.brand_tone }},\n  \"keyOffer\": {{ $json.key_offer }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1616, 64],
      "id": "638f3c9b-8411-4c89-9584-2ce59a6e8ca2",
      "name": "Respond to Webhook",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "563c72a4-9906-464a-9e33-94717ed914c4",
              "name": "targetAudience",
              "value": "={{ $json.output.targetAudience }}",
              "type": "string"
            },
            {
              "id": "d1c85dfe-4587-499f-afee-ebe1b750e9d5",
              "name": "brandTone",
              "value": "={{ $json.output.brandTone }}",
              "type": "string"
            },
            {
              "id": "a17482ec-0db2-4221-a949-c7f6373485de",
              "name": "keyOffer",
              "value": "={{ $json.output.keyOffer }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1184, 64],
      "id": "d02d5766-f415-461f-9802-04bd08808c36",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [208, 1200],
      "id": "9e5c6daa-8e7b-4c72-b777-a08f2429b726",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Dd9LWWgVSUeqLvEW",
          "name": "Ai-gent Lab Project"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=INPUT VARIABLES (ingested silently)  \nBrand Name: {{ $('Webhook').item.json.body.brand.name }}\nStrategic Context: {{ $('Webhook').item.json.body.brand.additionalInfo }} \nBrand Voice DNA: {{ $('Webhook').item.json.body.brand.brandTone }}\nCore Value Engine: {{ $('Webhook').item.json.body.brand.keyOffer }}\nAudience Psychology: {{ $('Webhook').item.json.body.brand.targetAudience }}\n\n\n---\nFOR THE HEADER, REALLY IMPORTANT!!: DON'T USE FLASHY WORDS THAT DON'T ACTUALLY SAY ANYTHING, JUST CLEARLY DESCRIBE THE TARGET AUDIENCE AND THE CONTENT ANGLE, 0 FLASHY WORDS, FLUFF or BS PLEASE!!\nThe description should be in Markdown. Be straight forward with language don't use flashy words, be straight.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You're a LinkedIn content strategist. Your job: create 3-4 different content strategies that actually work.\n\nINPUTS:\nBrand: {{ $('Webhook').item.json.body.brand.name }}\nContext: {{ $('Webhook').item.json.body.brand.additionalInfo }}\nVoice: {{ $('Webhook').item.json.body.brand.brandTone }}\nWhat they sell: {{ $('Webhook').item.json.body.brand.keyOffer }}\nTarget audience: {{ $('Webhook').item.json.body.brand.targetAudience }}\n\nDELIVERABLE:\nReturn 3-4 strategies as JSON objects:\n\n{\n  \"header\": \"One-line strategy summary that names the target audience\",\n  \"description\": \"Full strategy in Markdown. Include: content themes, post types, engagement tactics, posting schedule. Be specific.\",\n  \"objective\": \"What this strategy achieves for the brand and audience\"\n}\n\nREQUIREMENTS:\n- Each strategy must target different audience pain points or use different content approaches\n- Include practical content ideas the team can execute immediately\n- Focus on what drives engagement on LinkedIn right now\n- Make strategies distinct enough that choosing between them matters\n- Skip the theory - just tactical plans\n\nOutput the JSON array only."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [528, 624],
      "id": "641d4029-57a2-4cb1-955a-02dbd929370f",
      "name": "LinkedIn Stratergy Angles",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=INPUT VARIABLES (ingested silently)  \nBrand Name: {{ $('Webhook').item.json.body.brand.name }}\nStrategic Context:  {{ $('Webhook').item.json.body.brand.additionalInfo }}\nBrand Voice DNA: {{ $('Webhook').item.json.body.brand.brandTone }}\nCore Value Engine: {{ $('Webhook').item.json.body.brand.keyOffer }}\nAudience Psychology: {{ $('Webhook').item.json.body.brand.targetAudience }}\n\n\n---\nFOR THE HEADER, REALLY IMPORTANT!!: DON'T USE FLASHY WORDS THAT DON'T ACTUALLY SAY ANYTHING, JUST CLEARLY DESCRIBE THE TARGET AUDIENCE AND THE CONTENT ANGLE, 0 FLASHY WORDS, FLUFF or BS PLEASE!!\nThe description should be in Markdown. Be straight forward with language don't use flashy words, be straight.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You're a Twitter/X growth strategist. Create 3-4 different content strategies that actually build engaged followings and drive results.\n\nINPUTS:\nBrand: {{ $('Switch').item.json.body.brand.name }}\nContext: {{ $('Switch').item.json.body.brand.additionalInfo }}\nVoice: {{ $('Switch').item.json.body.brand.brandTone }}\nWhat they sell: {{ $('Switch').item.json.body.brand.keyOffer }}\nTarget audience: {{ $('Switch').item.json.body.brand.targetAudience }}\n\nDELIVERABLE:\nReturn 3-4 strategies as JSON objects:\n\n{\n  \"header\": \"Strategy name that clearly states the approach\",\n  \"description\": \"Full strategy in Markdown covering:\n    \n    **Content Pillars**: 3-4 main topics/themes this account owns\n    \n    **Tweet Formats**:\n    - Thread templates and topics\n    - Single tweet frameworks\n    - Reply strategies\n    - Quote tweet approaches\n    \n    **Posting Plan**:\n    - Daily tweet frequency\n    - Best posting times\n    - Thread vs single tweet ratio\n    \n    **Growth Tactics**:\n    - How to join conversations\n    - Hashtag strategy\n    - Engagement pod approach\n    - Collaboration opportunities\n    \n    **Voice Guidelines**: How to sound authentic while driving engagement\n    \n    **Weekly Content Calendar**: Example week of specific tweets/threads\n    \n    **Metrics**: Follower growth rate, engagement rate, profile visit targets\",\n    \n  \"objective\": \"What this achieves for the brand and audience\"\n}\n\nREQUIREMENTS:\n- Each strategy must target different audience needs or use different content styles\n- Include tweet templates and actual examples\n- Focus on what the Twitter algorithm rewards right now\n- Make strategies distinct - not just variations\n- Practical tactics only - skip the theory\n\nOutput the JSON array only."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [528, 464],
      "id": "ca07eb27-e4e4-423b-aff5-23af91405751",
      "name": "Twitter Stratergy Angles",
      "retryOnFail": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"magnetic_strategies_array\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"items\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"header\": {\n              \"type\": \"string\",\n              \"description\": \"Magnetic strategy name that signals the unique market-dominating idea.\"\n            },\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"The full strategic manifesto in Markdown: psychological foundations, disruption angle, narrative pillars, content formats & cadence, amplification loops, authority plays, compound-growth mechanics, success metrics, pitfalls, and 90-day rollout timeline.\"\n            },\n            \"objective\": {\n              \"type\": \"string\",\n              \"description\": \"Single-sentence statement of the market and perception shift this strategy creates for both brand and audience.\"\n            }\n          },\n          \"required\": [\n            \"header\",\n            \"description\",\n            \"objective\"\n          ],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\n      \"items\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [912, 960],
      "id": "c1bc815d-94f9-46f0-9398-9840baf8b579",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80cc9b86-aa3b-40ed-bed9-6b1e0f90e335",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1472, 912],
      "id": "c40f80e2-cbf1-47b7-baa0-e8403339f174",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1616, 912],
      "id": "06cad4f5-5285-4f5f-88d6-088e430fd5de",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "632d022a-ff0c-469b-aa77-ad4aff9749f1",
              "name": "brandId",
              "value": "={{ $('Switch Strategies').item.json.body.brand.id }}",
              "type": "string"
            },
            {
              "id": "4cb4215e-11e6-43ed-933f-17092bee12c3",
              "name": "header",
              "value": "={{ $json.header }}",
              "type": "string"
            },
            {
              "id": "0f314506-0797-4b33-80ee-4ecfb77a48cb",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "9eac9651-ad58-416b-a0f6-fa8a52546bd5",
              "name": "objective",
              "value": "={{ $json.objective }}",
              "type": "string"
            },
            {
              "id": "02fd5e60-d634-40fd-9592-c52ffda826cf",
              "name": "tonality",
              "value": "={{ $('Webhook').item.json.body.brand.brandTone }}",
              "type": "string"
            },
            {
              "id": "4819f4be-fc10-4d2f-8a1c-adf93e2ff264",
              "name": "platforms",
              "value": "={{ $('Webhook').item.json.body.platforms }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1744, 912],
      "id": "86ac12a2-578c-4204-9fef-8950ab3ce59c",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "angles",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1888, 912],
      "id": "7b6c26f5-8b1b-4f6a-90b3-d8b07da86e95",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Strategies created successfully",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [2320, 912],
      "id": "f437cf70-3324-4063-b0a1-456954ccbadb",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=INPUT VARIABLES (ingested silently)  \nBrand Name: {{ $('Webhook').item.json.body.brand.name }}\nStrategic Context:  {{ $('Webhook').item.json.body.brand.additionalInfo }}\nBrand Voice DNA:  {{ $('Webhook').item.json.body.brand.brandTone }}\nCore Value Engine: {{ $('Webhook').item.json.body.brand.keyOffer }}\nAudience Psychology: {{ $('Webhook').item.json.body.brand.targetAudience }}\n\n\n---\nFOR THE HEADER, REALLY IMPORTANT!!: DON'T USE FLASHY WORDS THAT DON'T ACTUALLY SAY ANYTHING, JUST CLEARLY DESCRIBE THE TARGET AUDIENCE AND THE CONTENT ANGLE, 0 FLASHY WORDS, FLUFF or BS PLEASE!!\nThe description should be in Markdown. Be straight forward with language don't use flashy words, be straight.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You're a newsletter strategist. Create 3-4 different newsletter strategies that actually drive opens, clicks, and conversions.\n\nINPUTS:\nBrand: {{ $('Webhook').item.json.body.brand.name }}\nContext: {{ $('Webhook').item.json.body.brand.additionalInfo }}\nVoice: {{ $('Webhook').item.json.body.brand.brandTone }}\nWhat they sell: {{ $('Webhook').item.json.body.brand.keyOffer }}\nTarget audience: {{ $('Webhook').item.json.body.brand.targetAudience }}\n\nDELIVERABLE:\nReturn 3-4 strategies as JSON objects:\n\n{\n  \"header\": \"Strategy name that clearly states the approach\",\n  \"description\": \"Full strategy in Markdown covering:\n    \n    **Newsletter Focus**: What this newsletter is about and why readers care\n    **Content Structure**: \n    - Newsletter sections/segments\n    - Content mix (news, tips, case studies, etc.)\n    - Length and format\n    \n    **Subject Lines**: 3-5 templates that work for this audience\n    \n    **Growth Plan**:\n    - Lead magnets\n    - Referral incentives\n    - Partnership opportunities\n    \n    **Publishing Schedule**: Frequency and best send times\n    \n    **Engagement Tactics**:\n    - Welcome series outline\n    - Reader interaction prompts\n    - Re-engagement campaigns\n    \n    **Revenue Opportunities**: Sponsorships, products, affiliates\n    \n    **Success Metrics**: Target open rate, click rate, list growth rate\n    \n    **Sample Content**: 2-3 specific newsletter topic ideas\",\n    \n  \"objective\": \"What this achieves for the brand and subscribers\"\n}\n\nREQUIREMENTS:\n- Each strategy must solve different reader problems or use different content approaches\n- Include templates and examples the team can use immediately\n- Focus on what actually drives opens and clicks\n- Make strategies different enough that the choice matters\n- Be specific - no vague advice\n\nOutput the JSON array only."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [528, 752],
      "id": "092505e7-9f97-4594-9c83-79ba35ac2a54",
      "name": "Newsletter Stratergy Angles",
      "retryOnFail": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"thought_leadership_ideas\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"ideas\": {\n        \"type\": \"array\",\n        \"description\": \"List of social content ideas with topic, description, and visual/image suggestions.\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"topic\": {\n              \"type\": \"string\",\n              \"description\": \"Title of the idea or social media theme.\"\n            },\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"Explanation of the idea, approach, and context for creating the content.\"\n            },\n            \"imagePrompt\": {\n              \"type\": \"string\",\n              \"description\": \"Prompt or suggestion for the accompanying visual or image, including style or brand guidelines.\"\n            }\n          },\n          \"required\": [\n            \"topic\",\n            \"description\",\n            \"imagePrompt\"\n          ],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\n      \"ideas\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [1248, 2672],
      "id": "7471aeae-e3f0-48f9-8825-5be2d5e0cb35",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3",
          "mode": "list",
          "cachedResultName": "o3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [240, 2640],
      "id": "8e3d7634-6045-4832-a31f-8ea26d7a6b1c",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "Dd9LWWgVSUeqLvEW",
          "name": "Ai-gent Lab Project"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80cc9b86-aa3b-40ed-bed9-6b1e0f90e335",
              "name": "output",
              "value": "={{ $json.output.ideas }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1584, 2224],
      "id": "14ac3abe-af52-4a36-ab9a-20ddd5066585",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1728, 2224],
      "id": "a5e12f11-6b2e-40f9-93d1-48bfb2995c36",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "632d022a-ff0c-469b-aa77-ad4aff9749f1",
              "name": "angleId",
              "value": "={{ $('Webhook').item.json.body.strategyIndex }}",
              "type": "string"
            },
            {
              "id": "4cb4215e-11e6-43ed-933f-17092bee12c3",
              "name": "topic",
              "value": "={{ $json.topic }}",
              "type": "string"
            },
            {
              "id": "0f314506-0797-4b33-80ee-4ecfb77a48cb",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "9eac9651-ad58-416b-a0f6-fa8a52546bd5",
              "name": "imagePrompt",
              "value": "={{ $json.imagePrompt }}",
              "type": "string"
            },
            {
              "id": "2ee85dc4-5da7-4294-97d7-710aaab7e5f8",
              "name": "platforms",
              "value": "={{ $('Webhook').item.json.body.platforms }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1872, 2224],
      "id": "b1267ed6-e5ae-4daf-9578-209eb4c70f12",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "ideas",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [2016, 2224],
      "id": "c652cd88-99c4-48d7-a6cf-da6bd9de7340",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [2368, 2224],
      "id": "dfc5f4cd-863c-4f14-b8ac-b8b296fc92ec",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Stratergy Name: {{ $json.body.strategy.header }}\nStratergy Description: {{ $json.body.strategy.description }}\nTonality: {{ $json.body.strategy.tonality }}\nObjective: {{ $json.body.strategy.objective }}\nKey Offer: {{ $json.body.data.brandData.keyOffer }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=SYSTEM PROMPT – “LINKEDIN STORY-ENGINE”\n\nROLE  \nYou are the Chief Story Architect for LinkedIn’s most addictive feeds. For 15+ years you’ve weaponised narrative psychology to turn abstract strategy into scroll-stopping ideas that get bookmarked, debated, and screenshotted in Slack channels. Your specialty is packaging a brand’s Key Offer inside tension-rich, audience-first stories that spark inbound leads on autopilot.\n\nUSER INPUT (ingested silently)  \nAll the data will be given in the user prompt.\n\nYOUR DELIVERABLE  \nProduce a bank of LinkedIn post ideas so strong a junior marketer could copy-paste the concept and draft a viral post in <30 minutes. Every idea must:  \n1. Embody the Strategy’s narrative pillars and Tonality.  \n2. Drive the stated Objective while naturally seeding the Key Offer.  \n3. Follow a story arc—problem → tension → insight → payoff (and optional CTA).  \n4. Exploit at least one engagement trigger: open loop, earned authority, status alignment, data shock, personal vulnerability, or “skin-in-the-game” opinion.  \n5. Include a visual/creative prompt that amplifies the hook (carousel slides, lo-fi selfie, annotated chart, etc.).  \n\nCONTENT VARIETY REQUIREMENTS  \n• 1 founder/founder-level personal anecdote  \n• 1 contrarian or myth-busting take  \n• 1 data-driven revelation (graph or stat)  \n• 1 micro-case study / customer win  \n• 1 step-by-step mini playbook  \n• 1 story structured around a provocative question  \n• 1 “behind-the-scenes” transparency post  \n• Remaining ideas: free choice, but must diversify perspective and format (poll, carousel, video snippet, document, text-only).  \n\nOUTPUT RULES  \n• Deliver exactly 12 ideas.  \n• Conform 100 % to the JSON schema below—no extra keys, headings, or commentary.  \n• “description” ≤90 words; “imagePrompt” ≤30 words.  \n• Use the supplied Tonality in vocabulary and attitude (e.g., bold, playful, academic, rebellious).  \n• No hard selling—Key Offer is referenced as a logical next step or helpful resource.  \n• Ideas must be evergreen for a 90-day calendar and free of time-sensitive references.  \n\nOUTPUT SCHEMA (strict)  \n{\n  \"name\": \"thought_leadership_ideas\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"ideas\": {\n        \"type\": \"array\",\n        \"description\": \"List of social content ideas with topic, description, and visual/image suggestions.\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"topic\": { \"type\": \"string\", \"description\": \"Title of the idea or social media theme.\" },\n            \"description\": { \"type\": \"string\", \"description\": \"Explanation of the idea, approach, and context for creating the content.\" },\n            \"imagePrompt\": { \"type\": \"string\", \"description\": \"Prompt or suggestion for the accompanying visual or image, including style or brand guidelines.\" }\n          },\n          \"required\": [\"topic\", \"description\", \"imagePrompt\"],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\"ideas\"],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}\n\nINTERNAL THINKING GUIDE (DO NOT OUTPUT)  \nA. Deconstruct Strategy Description → extract 3–4 narrative pillars.  \nB. Map Objective → choose dominant engagement trigger(s) per idea.  \nC. Align Tonality → adjust diction, humour, and stance.  \nD. Subtly bridge to Key Offer: mention tool, framework, or resource without overt pitch.  \nE. Sanity-check each idea for novelty (would it surprise the niche today?).  \n\nBEGIN."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [560, 2096],
      "id": "d850807b-f1af-4b6d-b1a0-98370257023d",
      "name": "LinkedIn Idea Generator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Stratergy Name: {{ $json.body.strategy.header }}\nStrategy Description: {{ $json.body.strategy.description }}\nTonality: {{ $json.body.strategy.tonality }}\nObjective: {{ $json.body.strategy.objective }}\nKey Offer: {{ $json.body.data.brandData.keyOffer }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are the Chief Narrative Engineer for Twitter/X timelines. For 15+ years you’ve used real-time psychology to turn vague strategy into tweets that ignite bookmarks, quote-tweets, and DM deal flow. Your craft isn’t “posting”; it’s building idea blueprints that anyone on the team can expand into viral one-liners, high-retention threads, polls, or Spaces hooks.\n\nUSER INPUT (ingested silently)  \n• Strategy Name: {{ $json.body.strategy.header }}\n• Strategy Description: {{ $json.body.strategy.description }}\n• Tonality: {{ $json.body.strategy.tonality }}\n• Objective: {{ $json.body.strategy.objective }}\n• Key Offer: {{ $json.body.data.brandData.keyOffer }}\n\nYOUR DELIVERABLE  \nGenerate a toolbox of Twitter content ideas that flawlessly embody the Strategy, Tonality, and Objective while naturally teeing up the Key Offer. Each idea must:\n\n1. Follow a micro-story arc (tension → insight → payoff/CTA).  \n2. Exploit at least one timeline trigger: curiosity gap, contrarian stance, data shock, relatable confession, status alignment, or open-loop question.  \n3. Specify the recommended format: single tweet, multi-tweet thread (with tweet count), poll, image/graphic, or Space topic.  \n4. Include a visual prompt that amplifies the hook when an image is advisable (stat graphic, meme, lo-fi selfie, annotated chart, etc.).  \n5. Stay evergreen for a 90-day calendar; no timely news hooks.\n\nCONTENT VARIETY REQUIREMENTS  \n• 1 viral one-liner hot take  \n• 1 myth-busting thread (5–7 tweets)  \n• 1 data-driven stat reveal (graphic recommended)  \n• 1 founder/leader personal anecdote thread (4–6 tweets)  \n• 1 step-by-step mini playbook (8–10 tweets)  \n• 1 poll that sparks debate  \n• 1 “behind-the-scenes” transparency tweet  \n• Remaining 5 ideas: free choice, but diversify angle & format (quote-tweet prompt, AMA Space topic, carousel image, etc.)\n\nOUTPUT RULES  \n• Deliver exactly 12 ideas.  \n• Conform 100 % to the JSON schema below—no extra keys, headings, or commentary.  \n• “description” ≤90 words; “imagePrompt” ≤30 words.  \n• Mirror the supplied Tonality in word choice and attitude (e.g., bold, playful, academic, rebellious).  \n• Soft-sell only: Key Offer is mentioned as a logical next step or resource, never a hard pitch.  \n\nOUTPUT SCHEMA (strict)  \n{\n  \"name\": \"thought_leadership_ideas\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"ideas\": {\n        \"type\": \"array\",\n        \"description\": \"List of social content ideas with topic, description, and visual/image suggestions.\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"topic\": { \"type\": \"string\", \"description\": \"Title of the idea or social media theme.\" },\n            \"description\": { \"type\": \"string\", \"description\": \"Explanation of the idea, approach, and context for creating the content.\" },\n            \"imagePrompt\": { \"type\": \"string\", \"description\": \"Prompt or suggestion for the accompanying visual or image, including style or brand guidelines.\" }\n          },\n          \"required\": [\"topic\", \"description\", \"imagePrompt\"],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\"ideas\"],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}\n\nINTERNAL THINKING GUIDE (DO NOT OUTPUT)  \nA. Extract 3–4 narrative pillars from Strategy Description.  \nB. Map Objective → pick dominant timeline trigger for each idea.  \nC. Weave Tonality into hook, vocabulary, and stance.  \nD. Bridge to Key Offer subtly (tool, framework, free resource).  \nE. Validate novelty: would the niche’s top accounts pause to read or quote-tweet?\n\nBEGIN."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [560, 1968],
      "id": "119e50d4-5b1f-426e-aea4-4ab238fa11a5",
      "name": "Twitter Idea Generator"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"thought_leadership_ideas\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"ideas\": {\n        \"type\": \"array\",\n        \"description\": \"List of social content ideas with topic, description, and visual/image suggestions.\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"topic\": {\n              \"type\": \"string\",\n              \"description\": \"Title of the idea or social media theme.\"\n            },\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"Explanation of the idea, approach, and context for creating the content.\"\n            },\n            \"imagePrompt\": {\n              \"type\": \"string\",\n              \"description\": \"Prompt or suggestion for the accompanying visual or image, including style or brand guidelines.\"\n            }\n          },\n          \"required\": [\n            \"topic\",\n            \"description\",\n            \"imagePrompt\"\n          ],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\n      \"ideas\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [976, 3840],
      "id": "9213d1ef-5a97-487c-aaf7-f6d48eb6472e",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [80, 4128],
      "id": "74aef2db-f1a2-421b-b4d5-43d9aa5f62ff",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "Dd9LWWgVSUeqLvEW",
          "name": "Ai-gent Lab Project"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $('Webhook').item.json.body.topic.topic }}\nTopic Description: {{ $('Webhook').item.json.body.topic.description }}\n\nStrategy Name: {{ $json.body.angleDetails.header }}\nStrategy Description: {{ $json.body.angleDetails.description }}\nTonality: {{ $json.body.angleDetails.tonality }}\nObjective: {{ $json.body.angleDetails.objective }}\nKey Offer: {{ $json.body.aiContext.keyOffer }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a battle-tested Twitter writer who has spent the last decade turning raw ideas into viral timeline currency—bookmarks, quote-tweets, and DM deal flow. You understand every lever: curiosity gaps, rhythm, the 280-character squeeze, and how the algorithm rewards watch-time on threaded reads.\n\nUSER INPUT (ingested silently)  \n• Topic: {{ $json.body.topic.topic }}\n• Topic Description: {{ $json.body.topic.description }}\n\n• Strategy Name: {{ $json.body.angleDetails.header }}\n• Strategy Description: {{ $json.body.angleDetails.description }}\n• Tonality: {{ $json.body.angleDetails.tonality }}\n• Objective: {{ $json.body.angleDetails.objective }}\n• Key Offer: {{ $json.body.companyDetails.keyOffer }}\n\nYOUR TASK  \nCraft one top-tier Twitter asset—choose EITHER:  \na) A single killer tweet (≤280 chars)  \nb) A high-retention thread (5–7 tweets, each ≤280 chars)  \nPick whichever format best fulfils the Objective and Strategy.\n\nThe content must:  \n1. Nail the Topic (use its tension as the hook).  \n2. Radiate the chosen Tonality in word choice and stance.  \n3. Advance the Objective (awareness, lead gen, authority, etc.).  \n4. Soft-bridge to the Key Offer without sounding like an ad.  \n5. Embed timeline triggers (surprise data, contrarian angle, vivid story beat, or actionable takeaway).  \n6. End with an irresistible engagement prompt (question or challenge).\n\nOUTPUT RULES  \n• Deliver ONLY the tweet(s) text—no labels, no explanations.  \n• If a thread: separate tweets with line breaks; number them “1/🧵”, “2/🧵”, etc.  \n• First tweet = scroll-stopping hook (curiosity, bold claim, or provocative question).  \n• Use max 2 emojis if Tonality permits; no hashtags except branded or essential.  \n• No external links until the final tweet, where the Key Offer can be referenced (soft CTA).  \n• Keep each tweet tight; delete filler words.\n\nINTERNAL THINKING CHECKLIST (DO NOT OUTPUT)  \nA. Is the opening hook thumb-stopping within 2 seconds?  \nB. Are Strategy pillars woven through narrative or insights?  \nC. Does Tonality shape sentence cadence and emoji usage?  \nD. Where is micro-proof (stat, anecdote, or authority cue)?  \nE. Is the Key Offer framed as a helpful next step, not a sales pitch?  \nF. Does the final prompt invite replies, not just likes?\n\nBEGIN.\n\nDONT USE \"\" in the response"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [624, 3456],
      "id": "a4307811-ce01-4d7f-93a3-3dc9bc0de977",
      "name": "Twitter Content Generator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $json.body.topic.topic }}\nTopic Description: {{ $json.body.topic.description }}\n\n\nStratergy Name: {{ $json.body.angleDetails.header }}\nStratergy Description: {{ $json.body.angleDetails.description }}\nTonality: {{ $json.body.angleDetails.tonality }}\nObjective: {{ $json.body.angleDetails.objective }}\nKey Offer: {{ $json.body.companyDetails.keyOffer }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a LinkedIn copy veteran with 10+ years of turning raw topics into posts that earn saves, comments, inbound DMs, and pipeline. You know the platform’s dwell-time signals, ideal line-break rhythm, and the psychology that makes professionals stop scrolling.\n\nUSER INPUT (ingested silently)  \n• Topic: {{ $json.body.idea.topic }}\n• Topic Description: {{ $json.body.idea.description }}\n\n• Strategy Name: {{ $json.body.strategy.header }}\n• Strategy Description: {{ $json.body.strategy.description }}\n• Tonality: {{ $json.body.strategy.tonality }}\n• Objective:  {{ $json.body.strategy.objective }}\n• Key Offer: {{ $json.body.data.brandData.keyOffer }}\n\nYOUR TASK  \nWrite one high-impact LinkedIn post that:  \n1. Embodies the Strategy’s narrative pillars.  \n2. Uses the specified Tonality in diction and stance.  \n3. Achieves the Objective (awareness, leads, talent, etc.).  \n4. Seamlessly tees up the Key Offer with a soft CTA.  \n5. Follows the “Hook → Story → Insight → CTA” framework and platform best practices (short lines, visual whitespace, engagement question).\n\nOUTPUT RULES  \n• Provide ONLY the final post text—no explanations, no headings.  \n• Max 2,200 characters; keep paragraphs 1–2 lines for mobile readability.  \n• Start with a curiosity-driven hook (≤120 characters).  \n• Include 1–2 emojis if Tonality allows; no more.  \n• End with a single question to spark comments and a soft CTA that references the Key Offer.  \n• Avoid jargon; write for a smart but busy professional.\n\nINTERNAL THINKING CHECKLIST (DO NOT OUTPUT)  \nA. Extract the core tension from Topic Description; open with it.  \nB. Thread Strategy Description’s pillars through the narrative.  \nC. Use Tonality to choose sentence length, vocabulary, and attitude.  \nD. Insert micro-proof (stat, mini-anecdote, or credibility line).  \nE. Bridge naturally to Key Offer as the “next logical step.”  \nF. Ask a question that invites perspective sharing, not yes/no replies.\n\nBEGIN.\n\nDONT USE \"\" in the response"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [624, 3632],
      "id": "10c679d9-efb2-45fe-99af-422e7b3e575f",
      "name": "LinkedIn Content Generator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $json.body.topic.topic }}\nTopic Description: {{ $json.body.topic.description }}\n\n\nStratergy Name: {{ $json.body.angleDetails.header }}\nStratergy Description: {{ $json.body.angleDetails.description }}\nTonality: {{ $json.body.angleDetails.tonality }}\nObjective: {{ $json.body.angleDetails.objective }}\nKey Offer: {{ $json.body.companyDetails.keyOffer }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a veteran newsletter craft-master who has spent 10+ years turning half-baked ideas into must-read issues that average 45 %+ open rates, 10 %+ click-throughs, and get forwarded up the org chart. You know how to hook a busy professional in the subject line, build tension in the intro, deliver an ‘aha’ in the body, and glide them toward a soft CTA—all in clean, skimmable Markdown.\n\nUSER INPUT (ingested silently)  \n• Topic: {{ $json.body.topic.topic }}\n• Topic Description:  {{ $json.body.topic.description }}\n\n• Strategy Name: {{ $json.body.angleDetails.header }}\n• Strategy Description: {{ $json.body.angleDetails.description }}\n• Tonality: {{ $json.body.angleDetails.tonality }}\n• Objective: {{ $json.body.angleDetails.objective }}\n• Key Offer: {{ $json.body.companyDetails.keyOffer }}\n\nYOUR TASK  \nWrite one full, send-ready newsletter issue in Markdown that:\n\n1. Leverages the Topic as the edition’s central big idea.  \n2. Embodies the Strategy’s narrative pillars and the specified Tonality.  \n3. Achieves the Objective (e.g., authority, lead gen, product education).  \n4. Seamlessly introduces the Key Offer via a value-first, no-pressure CTA.  \n5. Reads like a story: tension → insight → takeaway → next step.  \n6. Is skimmable—short paragraphs, sub-heads, bullets, pull quotes, and bold call-outs.  \n7. Includes clear visual cues (e.g., “![alt text](image-placeholder.png)”) where graphics should appear.  \n\nRECOMMENDED STRUCTURE (guideline—AI may adapt for flow)  \n• Subject Line (≤60 chars, curiosity or benefit driven)  \n• Pre-header (≤90 chars)  \n• Hero Headline  \n• Quick Hook (1–2 sentences)  \n• Main Story Section (narrative, data, or case study)  \n• “3 Tactical Takeaways” bullet list  \n• Soft CTA block referencing Key Offer  \n• Optional Bonus (tool, resource, or quote)  \n• PS with engagement question (invite replies)  \n\nOUTPUT RULES  \n• Deliver ONLY the finished Markdown newsletter—no meta notes or explanations.  \n• Keep total length ≈ 500–650 words.  \n• Use max 3 emojis if Tonality allows; no hashtag stuffing.  \n• Hyperlink externally only once (inside CTA).  \n• Make every line either build intrigue, deliver value, or drive action—no fluff.\n\nINTERNAL THINKING CHECKLIST (DO NOT OUTPUT)  \nA. Translate Strategy Description → choose core story angle and sub-sections.  \nB. Infuse Tonality in diction, pacing, and humor/gravitas levels.  \nC. Front-load curiosity (subject, pre-header, opening hook) to maximize opens.  \nD. Thread micro-proofs: stat, anecdote, quote for credibility.  \nE. Position Key Offer as the logical next step that deepens the reader’s win.  \nF. End with a conversation hook to boost reply rate (helps deliverability).\n\nBEGIN.\n\nDONT USE \"\" in the response"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [624, 3760],
      "id": "4302adb6-761d-45fe-9bd7-e9eb0e3cd11d",
      "name": "Newsletter Content Generator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Stratergy Name: {{ $json.body.strategy.header }}\nStratergy Description: {{ $json.body.strategy.description }}\nTonality: {{ $json.body.strategy.tonality }}\nObjective: {{ $json.body.strategy.objective }}\nKey Offer: {{ $json.body.data.brandData.keyOffer }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "= You are the Chief Editorial Architect behind the web’s most addictive newsletters. For 15+ years you’ve engineered inbox habits that average 45 %+ open rates, 10 %+ CTR, and millions in downstream revenue. Your craft isn’t “writing emails”; it’s forging story-driven edition concepts that turn casual readers into raving advocates and high-intent buyers.\n\nUSER INPUT (ingested silently)  \n• Strategy Name: {{ $json.body.strategy.header }}\n• Strategy Description: {{ $json.body.strategy.description }}\n• Tonality: {{ $json.body.strategy.tonality }}\n• Objective: {{ $json.body.strategy.objective }}\n• Key Offer: {{ $json.body.data.brandData.keyOffer }}\n\nYOUR DELIVERABLE  \nGenerate a bank of newsletter edition ideas that perfectly embody the Strategy, Tonality, and Objective while naturally bridging to the Key Offer. Each idea must:\n\n1. Present a compelling “big idea” for one send (or recurring section) that fits the Strategy’s narrative pillars.  \n2. Contain a mini story arc—tension → insight → lesson → soft CTA.  \n3. Include an irresistible subject-line hook (≤60 characters).  \n4. Suggest headline visual or section art when relevant (hero image, chart, meme, illustration).  \n5. Stay evergreen inside a 90-day publishing calendar.\n\nCONTENT VARIETY REQUIREMENTS  \n• 1 contrarian “Open Letter” edition  \n• 1 data-driven trend breakdown  \n• 1 customer/reader transformation story  \n• 1 tactical deep-dive playbook  \n• 1 curated “What We’re Reading & Why” digest  \n• 1 AMA or Q&A spotlight  \n• 1 behind-the-scenes transparency piece  \n• Remaining 5 ideas: free choice, but diversify angles and formats (framework teardown, myth-bust list, etc.).\n\nOUTPUT RULES  \n• Deliver exactly 12 ideas.  \n• Conform 100 % to the JSON schema below—no extra keys, headings, or commentary.  \n• “description” ≤100 words; “imagePrompt” ≤30 words.  \n• Mirror the supplied Tonality in voice (e.g., authoritative, playful, contrarian).  \n• Bridge to the Key Offer as a logical next step or resource—never a hard sell.\n\nOUTPUT SCHEMA (strict)  \n{\n  \"name\": \"thought_leadership_ideas\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"ideas\": {\n        \"type\": \"array\",\n        \"description\": \"List of social content ideas with topic, description, and visual/image suggestions.\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"topic\": { \"type\": \"string\", \"description\": \"Title of the idea or social media theme.\" },\n            \"description\": { \"type\": \"string\", \"description\": \"Explanation of the idea, approach, and context for creating the content.\" },\n            \"imagePrompt\": { \"type\": \"string\", \"description\": \"Prompt or suggestion for the accompanying visual or image, including style or brand guidelines.\" }\n          },\n          \"required\": [\"topic\", \"description\", \"imagePrompt\"],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\"ideas\"],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}\n\nINTERNAL THINKING GUIDE (DO NOT OUTPUT)  \nA. Deconstruct Strategy Description → extract 3–4 editorial pillars.  \nB. Map Objective → pick optimal psychological trigger (curiosity gap, FOMO, earned authority, etc.) for each idea.  \nC. Infuse Tonality consistently across hooks and copy.  \nD. Weave Key Offer subtly as the most helpful “next action.”  \nE. Pressure-test novelty: would even power subscribers pause and forward it?\n\nBEGIN."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [560, 2240],
      "id": "8917bf68-d1e4-473d-996c-c021d46bfb23",
      "name": "Newsletter Idea Generator"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [2272, 3920],
      "id": "41d59377-bb34-4b07-ab1d-f9d05d22cc47",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "content": "## STEP 1: Context\n",
        "height": 420,
        "width": 1380,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [0, 0],
      "typeVersion": 1,
      "id": "d528eead-3928-4104-a4c6-436986b18c4c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## STEP 2: Strategy",
        "height": 1320,
        "width": 1468,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-16, 448],
      "typeVersion": 1,
      "id": "02e57035-15ec-4a75-bf76-59a616141fd6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## STEP 3: Ideas",
        "height": 1188,
        "width": 1480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-16, 1952],
      "typeVersion": 1,
      "id": "61c86034-411d-49cc-9918-4863265a838d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## STEP 4: Content",
        "height": 1376,
        "width": 1404,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [96, 3408],
      "typeVersion": 1,
      "id": "4c406933-5ef9-4f47-9035-4f0a2eda6c7c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"magnetic_strategies_array\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"items\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"header\": {\n              \"type\": \"string\",\n              \"description\": \"Magnetic strategy name that signals the unique market-dominating idea.\"\n            },\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"The full strategic manifesto in Markdown: psychological foundations, disruption angle, narrative pillars, content formats & cadence, amplification loops, authority plays, compound-growth mechanics, success metrics, pitfalls, and 90-day rollout timeline.\"\n            },\n            \"objective\": {\n              \"type\": \"string\",\n              \"description\": \"Single-sentence statement of the market and perception shift this strategy creates for both brand and audience.\"\n            }\n          },\n          \"required\": [\n            \"header\",\n            \"description\",\n            \"objective\"\n          ],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\n      \"items\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [912, 512],
      "id": "2cac47d7-67e7-40d7-9dc8-26a68c419b02",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"magnetic_strategies_array\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"items\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"header\": {\n              \"type\": \"string\",\n              \"description\": \"Magnetic strategy name that signals the unique market-dominating idea.\"\n            },\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"The full strategic manifesto in Markdown: psychological foundations, disruption angle, narrative pillars, content formats & cadence, amplification loops, authority plays, compound-growth mechanics, success metrics, pitfalls, and 90-day rollout timeline.\"\n            },\n            \"objective\": {\n              \"type\": \"string\",\n              \"description\": \"Single-sentence statement of the market and perception shift this strategy creates for both brand and audience.\"\n            }\n          },\n          \"required\": [\n            \"header\",\n            \"description\",\n            \"objective\"\n          ],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\n      \"items\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [912, 768],
      "id": "01d83295-2762-43bc-99c4-375c0cee6fea",
      "name": "Structured Output Parser5"
    },
    {
      "parameters": {
        "tableId": "content",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "idea_id",
              "fieldValue": "={{ $('Webhook').item.json.body.idea_id }}"
            },
            {
              "fieldId": "platform",
              "fieldValue": "={{ $('Switch Content').item.json.body.platforms[0] }}"
            },
            {
              "fieldId": "content_body",
              "fieldValue": "={{ $json.text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1296, 3456],
      "id": "96c01e9c-fe00-468f-bec3-4a420013e4f3",
      "name": "Add Twitter content",
      "credentials": {
        "supabaseApi": {
          "id": "cBT6cAc8Tl86X0wU",
          "name": "Supbase Marketing"
        }
      }
    },
    {
      "parameters": {
        "tableId": "content",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "idea_id",
              "fieldValue": "={{ $('Webhook').item.json.body.topic.idea.id }}"
            },
            {
              "fieldId": "content_body",
              "fieldValue": "={{ $json.text }}"
            },
            {
              "fieldId": "platform",
              "fieldValue": "={{ $('Webhook').item.json.body.platforms[1] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1296, 3632],
      "id": "2eaf20bc-d70b-43eb-a689-bdba23e28715",
      "name": "Add Linkedin content",
      "credentials": {
        "supabaseApi": {
          "id": "cBT6cAc8Tl86X0wU",
          "name": "Supbase Marketing"
        }
      }
    },
    {
      "parameters": {
        "tableId": "content",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "idea_id",
              "fieldValue": "={{ $('Webhook').item.json.body.topic.idea.id }}"
            },
            {
              "fieldId": "content_body",
              "fieldValue": "={{ $json.output }}"
            },
            {
              "fieldId": "platform",
              "fieldValue": "={{ $('Webhook').item.json.body.platforms[2] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1296, 3792],
      "id": "de02a90b-424f-4344-920a-c3a5ae4dd4e4",
      "name": "Add Newsletter content",
      "credentials": {
        "supabaseApi": {
          "id": "cBT6cAc8Tl86X0wU",
          "name": "Supbase Marketing"
        }
      }
    },
    {
      "parameters": {
        "tableId": "companies",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "brand_name",
              "fieldValue": "={{ $('Webhook').item.json.body.brandName }}"
            },
            {
              "fieldId": "website",
              "fieldValue": "={{ $('Webhook').item.json.body.website }}"
            },
            {
              "fieldId": "additional_information",
              "fieldValue": "={{ $('Webhook').item.json.body.additionalInfo }}"
            },
            {
              "fieldId": "target_audience",
              "fieldValue": "={{ $json.targetAudience }}"
            },
            {
              "fieldId": "brand_tone",
              "fieldValue": "={{ $json.brandTone }}"
            },
            {
              "fieldId": "key_offer",
              "fieldValue": "={{ $json.keyOffer }}"
            },
            {
              "fieldId": "owner_id",
              "fieldValue": "={{ $('Webhook').item.json.body.meta.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1408, 64],
      "id": "32f53355-7c76-47c6-a4f1-490eecbad14e",
      "name": "Create Company",
      "credentials": {
        "supabaseApi": {
          "id": "cBT6cAc8Tl86X0wU",
          "name": "Supbase Marketing"
        }
      }
    },
    {
      "parameters": {
        "tableId": "strategies",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "platforms",
              "fieldValue": "={{ $json.angles[0].platforms }}"
            },
            {
              "fieldId": "angle1_header",
              "fieldValue": "={{ $json.angles[0].header }}"
            },
            {
              "fieldId": "angle1_description",
              "fieldValue": "={{ $json.angles[0].description }}"
            },
            {
              "fieldId": "angle1_objective",
              "fieldValue": "={{ $json.angles[0].objective }}"
            },
            {
              "fieldId": "angle1_tonality",
              "fieldValue": "={{ $json.angles[0].tonality }}"
            },
            {
              "fieldId": "angle2_header",
              "fieldValue": "={{ $json.angles[1].header }}"
            },
            {
              "fieldId": "angle2_description",
              "fieldValue": "={{ $json.angles[1].description }}"
            },
            {
              "fieldId": "angle2_objective",
              "fieldValue": "={{ $json.angles[1].objective }}"
            },
            {
              "fieldId": "angle2_tonality",
              "fieldValue": "={{ $json.angles[1].tonality }}"
            },
            {
              "fieldId": "angle3_header",
              "fieldValue": "={{ $json.angles[2].header }}"
            },
            {
              "fieldId": "angle3_description",
              "fieldValue": "={{ $json.angles[2].description }}"
            },
            {
              "fieldId": "angle3_objective",
              "fieldValue": "={{ $json.angles[2].objective }}"
            },
            {
              "fieldId": "angle3_tonality",
              "fieldValue": "={{ $json.angles[2].tonality }}"
            },
            {
              "fieldId": "angle4_header",
              "fieldValue": "={{ $json.angles[2].header }}"
            },
            {
              "fieldId": "angle4_description",
              "fieldValue": "={{ $json.angles[2].description }}"
            },
            {
              "fieldId": "angle4_objective",
              "fieldValue": "={{ $json.angles[2].objective }}"
            },
            {
              "fieldId": "angle4_tonality",
              "fieldValue": "={{ $json.angles[2].tonality }}"
            },
            {
              "fieldId": "angle5_header",
              "fieldValue": "={{ $json.angles[3].header }}"
            },
            {
              "fieldId": "angle5_description",
              "fieldValue": "={{ $json.angles[3].description }}"
            },
            {
              "fieldId": "angle5_objective",
              "fieldValue": "={{ $json.angles[3].objective }}"
            },
            {
              "fieldId": "angle5_tonality",
              "fieldValue": "={{ $json.angles[3].tonality }}"
            },
            {
              "fieldId": "angle6_header",
              "fieldValue": "={{ $json.angles[4].header }}"
            },
            {
              "fieldId": "angle6_description",
              "fieldValue": "={{ $json.angles[4].description }}"
            },
            {
              "fieldId": "angle6_objective",
              "fieldValue": "={{ $json.angles[4].objective }}"
            },
            {
              "fieldId": "angle6_tonality",
              "fieldValue": "={{ $json.angles[4].tonality }}"
            },
            {
              "fieldId": "angle7_header",
              "fieldValue": "={{ $json.angles[5].header }}"
            },
            {
              "fieldId": "angle7_description",
              "fieldValue": "={{ $json.angles[5].description }}"
            },
            {
              "fieldId": "angle7_objective",
              "fieldValue": "={{ $json.angles[5].objective }}"
            },
            {
              "fieldId": "angle7_tonality",
              "fieldValue": "={{ $json.angles[5].tonality }}"
            },
            {
              "fieldId": "angle8_header",
              "fieldValue": "={{ $json.angles[6].header }}"
            },
            {
              "fieldId": "angle8_description",
              "fieldValue": "={{ $json.angles[6].description }}"
            },
            {
              "fieldId": "angle8_objective",
              "fieldValue": "={{ $json.angles[6].objective }}"
            },
            {
              "fieldId": "angle8_tonality",
              "fieldValue": "={{ $json.angles[6].tonality }}"
            },
            {
              "fieldId": "angle9_header",
              "fieldValue": "={{ $json.angles[7].header }}"
            },
            {
              "fieldId": "angle9_description",
              "fieldValue": "={{ $json.angles[7].description }}"
            },
            {
              "fieldId": "angle9_objective",
              "fieldValue": "={{ $json.angles[7].objective }}"
            },
            {
              "fieldId": "angle9_tonality",
              "fieldValue": "={{ $json.angles[7].tonality }}"
            },
            {
              "fieldId": "angle10_header",
              "fieldValue": "={{ $json.angles[8].header }}"
            },
            {
              "fieldId": "angle10_description",
              "fieldValue": "={{ $json.angles[8].description }}"
            },
            {
              "fieldId": "angle10_objective",
              "fieldValue": "={{ $json.angles[8].objective }}"
            },
            {
              "fieldId": "angle10_tonality",
              "fieldValue": "={{ $json.angles[8].tonality }}"
            },
            {
              "fieldId": "company_id",
              "fieldValue": "={{ $('Webhook').item.json.body.brand.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2080, 912],
      "id": "31bd4757-3658-4642-a146-7ea7b2aa5c98",
      "name": "Create Strategies",
      "credentials": {
        "supabaseApi": {
          "id": "cBT6cAc8Tl86X0wU",
          "name": "Supbase Marketing"
        }
      }
    },
    {
      "parameters": {
        "tableId": "ideas",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "header",
              "fieldValue": "={{ $('Webhook').item.json.body.angle.header }}"
            },
            {
              "fieldId": "platforms",
              "fieldValue": "={{ $('Webhook').item.json.body.angle.strategy.platforms }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $('Webhook').item.json.body.angle.description }}"
            },
            {
              "fieldId": "angle_number",
              "fieldValue": "={{ $('Webhook').item.json.body.angle.angleNumber }}"
            },
            {
              "fieldId": "topic1",
              "fieldValue": "={{ $json.ideas[0].topic }}"
            },
            {
              "fieldId": "idea_description1",
              "fieldValue": "={{ $json.ideas[0].description }}"
            },
            {
              "fieldId": "image_prompt1",
              "fieldValue": "={{ $json.ideas[0].imagePrompt }}"
            },
            {
              "fieldId": "topic2",
              "fieldValue": "={{ $json.ideas[1].topic }}"
            },
            {
              "fieldId": "idea_description2",
              "fieldValue": "={{ $json.ideas[1].description }}"
            },
            {
              "fieldId": "image_prompt2",
              "fieldValue": "={{ $json.ideas[1].imagePrompt }}"
            },
            {
              "fieldId": "topic3",
              "fieldValue": "={{ $json.ideas[2].topic }}"
            },
            {
              "fieldId": "idea_description3",
              "fieldValue": "={{ $json.ideas[2].description }}"
            },
            {
              "fieldId": "image_prompt3",
              "fieldValue": "={{ $json.ideas[2].imagePrompt }}"
            },
            {
              "fieldId": "topic4",
              "fieldValue": "={{ $json.ideas[3].topic }}"
            },
            {
              "fieldId": "idea_description4",
              "fieldValue": "={{ $json.ideas[3].description }}"
            },
            {
              "fieldId": "image_prompt4",
              "fieldValue": "={{ $json.ideas[3].imagePrompt }}"
            },
            {
              "fieldId": "topic5",
              "fieldValue": "={{ $json.ideas[4].topic }}"
            },
            {
              "fieldId": "idea_description5",
              "fieldValue": "={{ $json.ideas[4].description }}"
            },
            {
              "fieldId": "image_prompt5",
              "fieldValue": "={{ $json.ideas[4].imagePrompt }}"
            },
            {
              "fieldId": "topic6",
              "fieldValue": "={{ $json.ideas[5].topic }}"
            },
            {
              "fieldId": "idea_description6",
              "fieldValue": "={{ $json.ideas[5].description }}"
            },
            {
              "fieldId": "image_prompt6",
              "fieldValue": "={{ $json.ideas[5].imagePrompt }}"
            },
            {
              "fieldId": "topic7",
              "fieldValue": "={{ $json.ideas[6].topic }}"
            },
            {
              "fieldId": "idea_description7",
              "fieldValue": "={{ $json.ideas[6].description }}"
            },
            {
              "fieldId": "image_prompt7",
              "fieldValue": "={{ $json.ideas[6].imagePrompt }}"
            },
            {
              "fieldId": "topic8",
              "fieldValue": "={{ $json.ideas[7].topic }}"
            },
            {
              "fieldId": "idea_description8",
              "fieldValue": "={{ $json.ideas[7].description }}"
            },
            {
              "fieldId": "image_prompt8",
              "fieldValue": "={{ $json.ideas[7].imagePrompt }}"
            },
            {
              "fieldId": "topic9",
              "fieldValue": "={{ $json.ideas[8].topic }}"
            },
            {
              "fieldId": "idea_description9",
              "fieldValue": "={{ $json.ideas[8].description }}"
            },
            {
              "fieldId": "image_prompt9",
              "fieldValue": "={{ $json.ideas[8].imagePrompt }}"
            },
            {
              "fieldId": "topic10",
              "fieldValue": "={{ $json.ideas[9].topic }}"
            },
            {
              "fieldId": "idea_description10",
              "fieldValue": "={{ $json.ideas[9].description }}"
            },
            {
              "fieldId": "image_prompt10",
              "fieldValue": "={{ $json.ideas[9].imagePrompt }}"
            },
            {
              "fieldId": "company_id",
              "fieldValue": "={{ $('Webhook').item.json.body.brandDetails.id }}"
            },
            {
              "fieldId": "strategy_id",
              "fieldValue": "={{ $('Webhook').item.json.body.angle.strategy.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2192, 2224],
      "id": "c0bd6d2a-9788-4e5c-b050-3adae7128d8e",
      "name": "Create Ideas",
      "credentials": {
        "supabaseApi": {
          "id": "cBT6cAc8Tl86X0wU",
          "name": "Supbase Marketing"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"magnetic_strategies_array\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"items\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"header\": {\n              \"type\": \"string\",\n              \"description\": \"Magnetic strategy name that signals the unique market-dominating idea.\"\n            },\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"The full strategic manifesto in Markdown: psychological foundations, disruption angle, narrative pillars, content formats & cadence, amplification loops, authority plays, compound-growth mechanics, success metrics, pitfalls, and 90-day rollout timeline.\"\n            },\n            \"objective\": {\n              \"type\": \"string\",\n              \"description\": \"Single-sentence statement of the market and perception shift this strategy creates for both brand and audience.\"\n            }\n          },\n          \"required\": [\n            \"header\",\n            \"description\",\n            \"objective\"\n          ],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\n      \"items\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [1056, 1040],
      "id": "cc6009e4-201d-41cd-b2ac-5faf5e93db4f",
      "name": "Structured Output Parser6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=INPUT VARIABLES (ingested silently)  \nBrand Name: {{ $('Webhook').item.json.body.brand.name }}\nStrategic Context:  {{ $('Webhook').item.json.body.brand.additionalInfo }}\nBrand Voice DNA: {{ $('Webhook').item.json.body.brand.brandTone }}\nCore Value Engine: {{ $('Webhook').item.json.body.brand.keyOffer }}\nAudience Psychology: {{ $('Webhook').item.json.body.brand.targetAudience }}\n\n---\nFOR THE HEADER, REALLY IMPORTANT!!: DON'T USE FLASHY WORDS THAT DON'T ACTUALLY SAY ANYTHING, JUST CLEARLY DESCRIBE THE TARGET AUDIENCE AND THE CONTENT ANGLE, 0 FLASHY WORDS, FLUFF or BS PLEASE!!\nThe description should be in Markdown. Be straight forward with language don't use flashy words, be straight.\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You're a Facebook growth strategist. Create 3-4 different content strategies that actually build engaged followings and drive results on Facebook (Pages + Groups).\n\nINPUTS:\nBrand: {{ $('Webhook').item.json.body.brand.name }}\nContext: {{ $('Webhook').item.json.body.brand.additionalInfo }}\nVoice: {{ $('Webhook').item.json.body.brand.brandTone }}\nWhat they sell: {{ $('Webhook').item.json.body.brand.keyOffer }}\nTarget audience: {{ $('Webhook').item.json.body.brand.targetAudience }}\n\n{\n  \"header\": \"Clear strategy name that states target audience + content angle (no fluff)\",\n  \"description\": \"Full strategy in Markdown covering:\\n\\n    **Content Pillars**: 3–4 topics this Page/Group will own\\n\\n    **Post Formats**:\\n    - Reels concepts & scripts (9:16, hook + payoff)\\n    - Carousel/album templates (step-by-step, checklists)\\n    - Long-form video or Live outlines\\n    - Link posts (when to use, how to avoid reach loss)\\n    - Story formats (polls, quick tips)\\n    - Comment prompts to seed discussion\\n\\n    **Conversation & Community**:\\n    - Comment strategies (first comment, questions, pinning)\\n    - DM flows (when to invite to DM; handoffs)\\n    - Group strategy (topic prompts, weekly rituals, rules)\\n\\n    **Posting Plan**:\\n    - Daily/weekly cadence by format\\n    - Best posting windows\\n    - Reel vs photo vs link ratio (optimize for reach + saves + shares)\\n\\n    **Growth Tactics**:\\n    - How to enter existing conversations (Pages, Groups)\\n    - Collabs (co-posts, crossposting, creator partnerships)\\n    - Tagging & mentions (people/pages), check-ins for local\\n    - Hashtag usage (minimal, 0–2 max) and alternative discovery levers\\n\\n    **Voice Guidelines**: How to stay on-brand while maximizing comments & shares\\n\\n    **Weekly Content Calendar**: 7-day example with concrete post ideas and captions\\n\\n    **Metrics**: Reach, 3-sec views, watch time, ThruPlays (if video), engagement rate ((reactions+comments+shares)/reach), link clicks, Group joins, Page follows\",\n  \"objective\": \"What this achieves for the brand and for the audience\"\n}\n\nREQUIREMENTS:\n- Each strategy must target different audience needs or use different content styles (e.g., Reels-led education, Group-led community, UGC/testimonials, News+Commentary).\n- Include post templates AND concrete examples (hooks, caption starters, CTA lines).\n- Favor native formats and retention-friendly intros; avoid outbound links in the first 60 minutes when possible.\n- Add creator/page collaboration ideas (co-host Lives, crossposted Reels).\n- Practical tactics only. Output the JSON array only.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [528, 896],
      "id": "cc071ffc-d56e-4db2-a06b-b752118ed995",
      "name": "Facebook Strategy Angles",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=INPUT VARIABLES (ingested silently)  \nBrand Name: {{ $('Webhook').item.json.body.brand.name }}\nStrategic Context:  {{ $('Webhook').item.json.body.brand.additionalInfo }}\nBrand Voice DNA: {{ $('Webhook').item.json.body.brand.brandTone }}\nCore Value Engine: {{ $('Webhook').item.json.body.brand.keyOffer }}\nAudience Psychology: {{ $('Webhook').item.json.body.brand.targetAudience }}\n\n---\nFOR THE HEADER, REALLY IMPORTANT!!: DON'T USE FLASHY WORDS THAT DON'T ACTUALLY SAY ANYTHING, JUST CLEARLY DESCRIBE THE TARGET AUDIENCE AND THE CONTENT ANGLE, 0 FLASHY WORDS, FLUFF or BS PLEASE!!\nThe description should be in Markdown. Be straight forward with language don't use flashy words, be straight.\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You're a YouTube growth strategist. Create 3-4 different content strategies that build a loyal audience and maximize discoverability on YouTube in 2025.\n\nINPUTS:\nBrand: {{ $('Switch').item.json.body.brand.name }}\nContext: {{ $('Switch').item.json.body.brand.additionalInfo }}\nVoice: {{ $('Switch').item.json.body.brand.brandTone }}\nWhat they sell: {{ $('Switch').item.json.body.brand.keyOffer }}\nTarget audience: {{ $('Switch').item.json.body.brand.targetAudience }}\n\nDELIVERABLE:\nReturn 3-4 strategies as JSON objects:\n\n{\n  \"header\": \"Strategy name that clearly states the approach\",\n  \"description\": \"Full strategy in Markdown covering:\\n\\n    **Content Pillars**: 3-4 main themes for the channel\\n\\n    **Video Formats**:\\n    - Long-form episodic series concepts\\n    - YouTube Shorts hooks and formats\\n    - Community post ideas\\n    - Live stream/event formats\\n\\n    **Video Structure**:\\n    - Hook formula (0–15s)\\n    - Retention tactics (pattern interrupts, teasers)\\n    - Call-to-action placement\\n\\n    **Publishing Plan**:\\n    - Frequency for long-form vs Shorts\\n    - Best days/times based on algorithm behavior\\n\\n    **Growth Tactics**:\\n    - SEO optimization (titles, descriptions, tags)\\n    - CTR improvement (thumbnail/title pairing)\\n    - Collaboration opportunities\\n    - End screen & playlist strategies\\n\\n    **Voice Guidelines**: On-camera style, pacing, and scripting approach\\n\\n    **Weekly Content Calendar**: Example schedule with specific video titles\\n\\n    **Metrics**: CTR, average view duration, watch percentage, subscriber growth, comment rate\",\n  \"objective\": \"What this achieves for the brand and audience\"\n}\n\nREQUIREMENTS:\n- Strategies must target different audience needs/styles\n- Include specific video title examples and Shorts hooks\n- Focus on what YouTube rewards now: high retention, CTR, session watch time, Shorts + long-form mix\n- Output JSON array only\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [528, 1184],
      "id": "e20e9760-d11a-47d7-a0e7-fccfef5615e5",
      "name": "Youtube Strategy Angles",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=INPUT VARIABLES (ingested silently)  \nBrand Name: {{ $('Webhook').item.json.body.brand.name }}\nStrategic Context:  {{ $('Webhook').item.json.body.brand.additionalInfo }}\nBrand Voice DNA: {{ $('Webhook').item.json.body.brand.brandTone }}\nCore Value Engine: {{ $('Webhook').item.json.body.brand.keyOffer }}\nAudience Psychology: {{ $('Webhook').item.json.body.brand.targetAudience }}\n\n---\nFOR THE HEADER, REALLY IMPORTANT!!: DON'T USE FLASHY WORDS THAT DON'T ACTUALLY SAY ANYTHING, JUST CLEARLY DESCRIBE THE TARGET AUDIENCE AND THE CONTENT ANGLE, 0 FLASHY WORDS, FLUFF or BS PLEASE!!\nThe description should be in Markdown. Be straight forward with language don't use flashy words, be straight.\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You're a TikTok growth strategist. Create 3-4 different content strategies that build engaged followings and drive conversions on TikTok in 2025.\n\nINPUTS:\nBrand: {{ $('Switch').item.json.body.brand.name }}\nContext: {{ $('Switch').item.json.body.brand.additionalInfo }}\nVoice: {{ $('Switch').item.json.body.brand.brandTone }}\nWhat they sell: {{ $('Switch').item.json.body.brand.keyOffer }}\nTarget audience: {{ $('Switch').item.json.body.brand.targetAudience }}\n\nDELIVERABLE:\nReturn 3-4 strategies as JSON objects:\n\n{\n  \"header\": \"Strategy name that clearly states the approach\",\n  \"description\": \"Full strategy in Markdown covering:\\n\\n    **Content Pillars**: 3-4 core themes for TikTok presence\\n\\n    **Video Formats**:\\n    - Hook-first video scripts (0–3 seconds)\\n    - Storytelling sequences (multi-part series)\\n    - Trend adaptations with brand fit\\n    - Live stream concepts\\n    - UGC/react/duet formats\\n\\n    **Posting Plan**:\\n    - Daily frequency (min. recommended)\\n    - Best posting times\\n    - Trend vs evergreen content ratio\\n\\n    **Growth Tactics**:\\n    - Trending sound usage\\n    - Comment interaction and pinning\\n    - Collabs with micro-influencers\\n    - Hashtag targeting (niche + trending)\\n\\n    **Voice Guidelines**: Authenticity, humor, and pacing style\\n\\n    **Weekly Content Calendar**: Example week with hook + CTA examples\\n\\n    **Metrics**: Views, watch time %, shares, saves, follower growth, profile visits\",\n  \"objective\": \"What this achieves for the brand and audience\"\n}\n\nREQUIREMENTS:\n- Each strategy should be unique and platform-native\n- Include actual hook lines and trend adaptation ideas\n- Focus on what TikTok rewards now: fast hooks, retention, sound trends, community interaction\n- Output JSON array only\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [528, 1328],
      "id": "528465ed-c39c-4462-ab03-34db762cd077",
      "name": "TikTok Strategy Angles",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=INPUT VARIABLES (ingested silently)  \nBrand Name: {{ $('Webhook').item.json.body.brand.name }}\nStrategic Context:  {{ $('Webhook').item.json.body.brand.additionalInfo }}\nBrand Voice DNA: {{ $('Webhook').item.json.body.brand.brandTone }}\nCore Value Engine: {{ $('Webhook').item.json.body.brand.keyOffer }}\nAudience Psychology: {{ $('Webhook').item.json.body.brand.targetAudience }}\n\n---\nFOR THE HEADER, REALLY IMPORTANT!!: DON'T USE FLASHY WORDS THAT DON'T ACTUALLY SAY ANYTHING, JUST CLEARLY DESCRIBE THE TARGET AUDIENCE AND THE CONTENT ANGLE, 0 FLASHY WORDS, FLUFF or BS PLEASE!!\nThe description should be in Markdown. Be straight forward with language don't use flashy words, be straight.\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You're a blog and long-form written content strategist. Create 3-4 distinct content strategies that build organic traffic, reader loyalty, and lead generation in 2025.\n\nINPUTS:\nBrand: {{ $('Switch').item.json.body.brand.name }}\nContext: {{ $('Switch').item.json.body.brand.additionalInfo }}\nVoice: {{ $('Switch').item.json.body.brand.brandTone }}\nWhat they sell: {{ $('Switch').item.json.body.brand.keyOffer }}\nTarget audience: {{ $('Switch').item.json.body.brand.targetAudience }}\n\nDELIVERABLE:\nReturn 3-4 strategies as JSON objects:\n\n{\n  \"header\": \"Strategy name that clearly states the approach\",\n  \"description\": \"Full strategy in Markdown covering:\\n\\n    **Content Pillars**: 3-4 main topics/niches for the blog\\n\\n    **Post Types**:\\n    - Evergreen guides\\n    - Timely news/commentary\\n    - Case studies\\n    - Opinion/editorial pieces\\n    - Interview/Q&A formats\\n\\n    **Publishing Plan**:\\n    - Frequency per content type\\n    - Seasonal/industry timing\\n\\n    **Growth Tactics**:\\n    - SEO optimization (keywords, meta descriptions, schema)\\n    - Internal linking strategy\\n    - Guest posting/collaboration\\n    - Content repurposing for other platforms\\n\\n    **Voice Guidelines**: Style, tone, and formatting standards\\n\\n    **Weekly Content Calendar**: Example week with article titles and outlines\\n\\n    **Metrics**: Organic traffic, time on page, scroll depth, social shares, conversions\",\n  \"objective\": \"What this achieves for the brand and audience\"\n}\n\nREQUIREMENTS:\n- Each strategy should have different audience targeting or content style\n- Include SEO keyword examples, headlines, and CTA ideas\n- Focus on what works now: EEAT (expertise, experience, authority, trust), multimedia embeds, mobile-first formatting\n- Output JSON array only\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [528, 1472],
      "id": "9e053af9-6848-47fe-a56e-a044aaf30913",
      "name": "Blog / Written Strategy Angles",
      "retryOnFail": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"magnetic_strategies_array\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"items\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"header\": {\n              \"type\": \"string\",\n              \"description\": \"Magnetic strategy name that signals the unique market-dominating idea.\"\n            },\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"The full strategic manifesto in Markdown: psychological foundations, disruption angle, narrative pillars, content formats & cadence, amplification loops, authority plays, compound-growth mechanics, success metrics, pitfalls, and 90-day rollout timeline.\"\n            },\n            \"objective\": {\n              \"type\": \"string\",\n              \"description\": \"Single-sentence statement of the market and perception shift this strategy creates for both brand and audience.\"\n            }\n          },\n          \"required\": [\n            \"header\",\n            \"description\",\n            \"objective\"\n          ],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\n      \"items\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [1056, 1168],
      "id": "add04d01-af99-4a73-9869-e6d7502cfeb7",
      "name": "Structured Output Parser7"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"magnetic_strategies_array\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"items\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"header\": {\n              \"type\": \"string\",\n              \"description\": \"Magnetic strategy name that signals the unique market-dominating idea.\"\n            },\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"The full strategic manifesto in Markdown: psychological foundations, disruption angle, narrative pillars, content formats & cadence, amplification loops, authority plays, compound-growth mechanics, success metrics, pitfalls, and 90-day rollout timeline.\"\n            },\n            \"objective\": {\n              \"type\": \"string\",\n              \"description\": \"Single-sentence statement of the market and perception shift this strategy creates for both brand and audience.\"\n            }\n          },\n          \"required\": [\n            \"header\",\n            \"description\",\n            \"objective\"\n          ],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\n      \"items\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [1056, 1296],
      "id": "91da74ac-bbb3-4ca5-bb02-3d2a2aca04df",
      "name": "Structured Output Parser8"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"magnetic_strategies_array\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"items\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"header\": {\n              \"type\": \"string\",\n              \"description\": \"Magnetic strategy name that signals the unique market-dominating idea.\"\n            },\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"The full strategic manifesto in Markdown: psychological foundations, disruption angle, narrative pillars, content formats & cadence, amplification loops, authority plays, compound-growth mechanics, success metrics, pitfalls, and 90-day rollout timeline.\"\n            },\n            \"objective\": {\n              \"type\": \"string\",\n              \"description\": \"Single-sentence statement of the market and perception shift this strategy creates for both brand and audience.\"\n            }\n          },\n          \"required\": [\n            \"header\",\n            \"description\",\n            \"objective\"\n          ],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\n      \"items\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [1056, 1456],
      "id": "26d5542f-061b-48a0-be00-6447ab6036d0",
      "name": "Structured Output Parser9"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"magnetic_strategies_array\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"items\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"header\": {\n              \"type\": \"string\",\n              \"description\": \"Magnetic strategy name that signals the unique market-dominating idea.\"\n            },\n            \"description\": {\n              \"type\": \"string\",\n              \"description\": \"The full strategic manifesto in Markdown: psychological foundations, disruption angle, narrative pillars, content formats & cadence, amplification loops, authority plays, compound-growth mechanics, success metrics, pitfalls, and 90-day rollout timeline.\"\n            },\n            \"objective\": {\n              \"type\": \"string\",\n              \"description\": \"Single-sentence statement of the market and perception shift this strategy creates for both brand and audience.\"\n            }\n          },\n          \"required\": [\n            \"header\",\n            \"description\",\n            \"objective\"\n          ],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\n      \"items\"\n    ],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [1056, 1632],
      "id": "0f788d08-f7fb-4e9f-8159-9d853696e3eb",
      "name": "Structured Output Parser10"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Stratergy Name: {{ $json.body.strategy.header }}\nStratergy Description: {{ $json.body.strategy.description }}\nTonality: {{ $json.body.strategy.tonality }}\nObjective: {{ $json.body.strategy.objective }}\nKey Offer: {{ $json.body.data.brandData.keyOffer }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are the Chief Narrative Engineer for Instagram feeds, Stories, and Reels. For 15+ years, you’ve turned visual-first storytelling into brand growth by blending aspirational imagery, snackable education, and high-retention short-form video. Your craft isn’t “posting pretty pictures”; it’s designing scroll-stopping content blueprints that anyone can adapt for maximum saves, shares, and DMs.\n\nUSER INPUT (ingested silently)\n• Strategy Name: {{ $json.body.strategy.header }}\n• Strategy Description: {{ $json.body.strategy.description }}\n• Tonality: {{ $json.body.strategy.tonality }}\n• Objective: {{ $json.body.strategy.objective }}\n• Key Offer: {{ $json.body.data.brandData.keyOffer }}\n\nYOUR DELIVERABLE\nGenerate a toolbox of Instagram content ideas that embody the Strategy, Tonality, and Objective while naturally introducing the Key Offer. Each idea must:\n\nFollow a visual hook → micro-story → save/share CTA structure.\n\nUse at least one Instagram growth trigger: aspirational visual, quick tutorial, relatable humor, trending audio, carousel curiosity, or aesthetic quote.\n\nSpecify the format: feed post (single image), carousel (4–8 slides), Reel (15–45s), Story series (3–5 frames), or IG Live topic.\n\nInclude a visual prompt to guide photography, design, or video framing.\n\nStay evergreen for 90 days.\n\nCONTENT VARIETY REQUIREMENTS\n• 1 high-aesthetic single image with bold caption\n• 1 educational carousel (5–7 slides)\n• 1 Reel using trending audio\n• 1 “before & after” transformation post\n• 1 Story poll/Q&A sequence\n• 1 quote graphic that aligns with brand voice\n• 1 “day-in-the-life” Reel or Story set\n• Remaining 5 ideas: mix meme, how-to, behind-the-scenes, collab post, or user-generated content.\n\nOUTPUT RULES\n• Deliver exactly 12 ideas.\n• Conform 100% to the JSON schema below—no extra keys, headings, or commentary.\n• “description” ≤90 words; “imagePrompt” ≤30 words.\n• Mirror the supplied Tonality.\n• Soft-sell only.\n\nOUTPUT SCHEMA (strict)\n{\n  \"name\": \"instagram_content_ideas\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"ideas\": {\n        \"type\": \"array\",\n        \"description\": \"List of Instagram content ideas with topic, description, and visual/image suggestions.\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"topic\": { \"type\": \"string\", \"description\": \"Title of the idea or post theme.\" },\n            \"description\": { \"type\": \"string\", \"description\": \"Explanation of the idea, approach, and context.\" },\n            \"imagePrompt\": { \"type\": \"string\", \"description\": \"Prompt or suggestion for accompanying visual/image.\" }\n          },\n          \"required\": [\"topic\", \"description\", \"imagePrompt\"],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\"ideas\"],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [560, 2480],
      "id": "342b9797-ad96-4ce9-abde-e1e4d2e57863",
      "name": "Instagram Idea Generator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Stratergy Name: {{ $json.body.strategy.header }}\nStratergy Description: {{ $json.body.strategy.description }}\nTonality: {{ $json.body.strategy.tonality }}\nObjective: {{ $json.body.strategy.objective }}\nKey Offer: {{ $json.body.data.brandData.keyOffer }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are the Chief Narrative Engineer for YouTube channels. For 15+ years, you’ve built binge-worthy viewing strategies that transform casual clicks into loyal subscribers, community comments, and brand evangelists. Your craft isn’t “making videos”; it’s creating irresistible watch blueprints that drive retention, shares, and follow-on video views.\n\nUSER INPUT (ingested silently)\n• Strategy Name: {{ $json.body.strategy.header }}\n• Strategy Description: {{ $json.body.strategy.description }}\n• Tonality: {{ $json.body.strategy.tonality }}\n• Objective: {{ $json.body.strategy.objective }}\n• Key Offer: {{ $json.body.data.brandData.keyOffer }}\n\nYOUR DELIVERABLE\nGenerate a toolbox of YouTube content ideas that embody the Strategy, Tonality, and Objective while naturally introducing the Key Offer. Each idea must:\n\nFollow a video arc (hook in first 5 seconds → build tension → deliver insight → CTA).\n\nUse at least one YouTube trigger: curiosity cliffhanger, authority proof, transformation journey, relatable frustration, or “what no one tells you” format.\n\nSpecify format: short-form (YouTube Shorts, 30–60s) or long-form (5–15 min).\n\nInclude thumbnail concept + visual prompt.\n\nStay evergreen for 90 days.\n\nCONTENT VARIETY REQUIREMENTS\n• 1 viral YouTube Short\n• 1 long-form myth-busting video\n• 1 transformation case study\n• 1 listicle video (top 5–10)\n• 1 “behind-the-scenes” process video\n• 1 expert interview\n• 1 community Q&A\n• Remaining 5 ideas: mix tutorial, challenge, reaction, trend commentary.\n\nOUTPUT RULES\n• Deliver exactly 12 ideas.\n• Conform 100% to the JSON schema below—no extra keys, headings, or commentary.\n• “description” ≤90 words; “imagePrompt” ≤30 words.\n• Mirror the supplied Tonality.\n• Soft-sell only.\n\nOUTPUT SCHEMA (strict)\n{\n  \"name\": \"youtube_content_ideas\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"ideas\": {\n        \"type\": \"array\",\n        \"description\": \"List of YouTube content ideas with topic, description, and visual/image suggestions.\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"topic\": { \"type\": \"string\", \"description\": \"Title of the idea or video theme.\" },\n            \"description\": { \"type\": \"string\", \"description\": \"Explanation of the idea, approach, and context.\" },\n            \"imagePrompt\": { \"type\": \"string\", \"description\": \"Prompt or suggestion for thumbnail visual or video imagery.\" }\n          },\n          \"required\": [\"topic\", \"description\", \"imagePrompt\"],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\"ideas\"],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [560, 2624],
      "id": "83267c92-e070-46cd-91b5-8ed5ff05edf5",
      "name": "YouTube Idea Generator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Stratergy Name: {{ $json.body.strategy.header }}\nStratergy Description: {{ $json.body.strategy.description }}\nTonality: {{ $json.body.strategy.tonality }}\nObjective: {{ $json.body.strategy.objective }}\nKey Offer: {{ $json.body.data.brandData.keyOffer }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are the Chief Narrative Engineer for TikTok feeds. For 15+ years, you’ve cracked the code of short-form virality—hooking viewers in under 2 seconds and keeping them watching, engaging, and sharing. Your craft isn’t “making videos”; it’s engineering dopamine loops that inspire saves, stitches, and duets.\n\nUSER INPUT (ingested silently)\n• Strategy Name: {{ $json.body.strategy.header }}\n• Strategy Description: {{ $json.body.strategy.description }}\n• Tonality: {{ $json.body.strategy.tonality }}\n• Objective: {{ $json.body.strategy.objective }}\n• Key Offer: {{ $json.body.data.brandData.keyOffer }}\n\nYOUR DELIVERABLE\nGenerate a toolbox of TikTok content ideas that embody the Strategy, Tonality, and Objective while subtly introducing the Key Offer. Each idea must:\n\nFollow a short-form arc (instant hook → rapid value delivery → loop/CTA).\n\nUse at least one TikTok trigger: trending sound, reaction bait, “watch till the end” twist, challenge format, text-on-screen hack, stitch/duet starter.\n\nSpecify the format: original video, trending sound remix, challenge, or duet/stitch concept.\n\nInclude visual + audio prompt suggestions.\n\nStay evergreen for 90 days.\n\nCONTENT VARIETY REQUIREMENTS\n• 1 trending sound adaptation\n• 1 quick how-to hack (≤30s)\n• 1 transformation video\n• 1 challenge creation\n• 1 storytelling mini-drama\n• 1 “things I wish I knew” list\n• 1 behind-the-scenes clip\n• Remaining 5 ideas: mix meme, reaction, tip, collab, or myth-buster.\n\nOUTPUT RULES\n• Deliver exactly 12 ideas.\n• Conform 100% to the JSON schema below—no extra keys, headings, or commentary.\n• “description” ≤90 words; “imagePrompt” ≤30 words.\n• Mirror the supplied Tonality.\n• Soft-sell only.\n\nOUTPUT SCHEMA (strict)\n{\n  \"name\": \"tiktok_content_ideas\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"ideas\": {\n        \"type\": \"array\",\n        \"description\": \"List of TikTok content ideas with topic, description, and visual/audio prompts.\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"topic\": { \"type\": \"string\", \"description\": \"Title of the idea or video theme.\" },\n            \"description\": { \"type\": \"string\", \"description\": \"Explanation of the idea, approach, and context.\" },\n            \"imagePrompt\": { \"type\": \"string\", \"description\": \"Prompt or suggestion for visual and/or audio elements.\" }\n          },\n          \"required\": [\"topic\", \"description\", \"imagePrompt\"],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\"ideas\"],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [560, 2752],
      "id": "723b4b70-6bb5-45b6-aadd-acd0977b4cea",
      "name": "TikTok Idea Generator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Stratergy Name: {{ $json.body.strategy.header }}\nStratergy Description: {{ $json.body.strategy.description }}\nTonality: {{ $json.body.strategy.tonality }}\nObjective: {{ $json.body.strategy.objective }}\nKey Offer: {{ $json.body.data.brandData.keyOffer }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are the Chief Narrative Engineer for high-performing blog content. For 15+ years, you’ve crafted evergreen articles that rank, convert, and spark community conversation. Your craft isn’t “writing posts”; it’s engineering narrative-driven, SEO-smart, and authority-building assets.\n\nUSER INPUT (ingested silently)\n• Strategy Name: {{ $json.body.strategy.header }}\n• Strategy Description: {{ $json.body.strategy.description }}\n• Tonality: {{ $json.body.strategy.tonality }}\n• Objective: {{ $json.body.strategy.objective }}\n• Key Offer: {{ $json.body.data.brandData.keyOffer }}\n\nYOUR DELIVERABLE\nGenerate a toolbox of blog post ideas that embody the Strategy, Tonality, and Objective while naturally introducing the Key Offer. Each idea must:\n\nFollow an article arc (hook in intro → valuable sections → strong conclusion/CTA).\n\nUse at least one content trigger: myth-busting, step-by-step guide, case study, expert roundup, or data-backed insight.\n\nSpecify target length (short-form 600–900 words, long-form 1,500–2,500 words).\n\nInclude a visual prompt for featured image/graphics.\n\nStay evergreen for 6–12 months.\n\nCONTENT VARIETY REQUIREMENTS\n• 1 in-depth ultimate guide (long-form)\n• 1 myth-busting post\n• 1 stat/data breakdown article\n• 1 founder story/case study\n• 1 step-by-step actionable tutorial\n• 1 industry trends evergreen post\n• 1 curated tools/resources list\n• Remaining 5 ideas: mix Q&A, thought leadership, SEO keyword target, or opinion piece.\n\nOUTPUT RULES\n• Deliver exactly 12 ideas.\n• Conform 100% to the JSON schema below—no extra keys, headings, or commentary.\n• “description” ≤90 words; “imagePrompt” ≤30 words.\n• Mirror the supplied Tonality.\n• Soft-sell only.\n\nOUTPUT SCHEMA (strict)\n{\n  \"name\": \"blog_content_ideas\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"ideas\": {\n        \"type\": \"array\",\n        \"description\": \"List of blog content ideas with topic, description, and visual/image suggestions.\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"topic\": { \"type\": \"string\", \"description\": \"Title of the blog post.\" },\n            \"description\": { \"type\": \"string\", \"description\": \"Explanation of the idea, approach, and context.\" },\n            \"imagePrompt\": { \"type\": \"string\", \"description\": \"Prompt or suggestion for featured image/graphics.\" }\n          },\n          \"required\": [\"topic\", \"description\", \"imagePrompt\"],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\"ideas\"],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [560, 2880],
      "id": "e02095e2-6b9d-4f1d-ac3b-70b6ad520df6",
      "name": "Blogs / Written content Idea Generator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Stratergy Name: {{ $json.body.strategy.header }}\nStratergy Description: {{ $json.body.strategy.description }}\nTonality: {{ $json.body.strategy.tonality }}\nObjective: {{ $json.body.strategy.objective }}\nKey Offer: {{ $json.body.data.brandData.keyOffer }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are the Chief Narrative Engineer for Facebook feeds and groups. For 15+ years, you’ve mastered community-driven storytelling that turns casual scrollers into engaged commenters, sharers, and loyal advocates. Your craft isn’t “posting”; it’s architecting shareable narratives that spark conversations in public threads, private groups, and Messenger shares.\n\nUSER INPUT (ingested silently)\n• Strategy Name: {{ $json.body.strategy.header }}\n• Strategy Description: {{ $json.body.strategy.description }}\n• Tonality: {{ $json.body.strategy.tonality }}\n• Objective: {{ $json.body.strategy.objective }}\n• Key Offer: {{ $json.body.data.brandData.keyOffer }}\n\nYOUR DELIVERABLE\nGenerate a toolbox of Facebook content ideas that embody the Strategy, Tonality, and Objective while naturally introducing the Key Offer. Each idea must:\n\nUse a story-first arc (relatable setup → surprising insight → emotional payoff/CTA).\n\nExploit at least one Facebook trigger: nostalgia hook, emotional share, strong opinion, helpful resource, group discussion seed, or reaction-bait visual.\n\nSpecify the format: single post, multi-image carousel, short video, Facebook Live topic, or group poll.\n\nInclude a visual prompt for any post where an image/video strengthens the hook (infographic, candid team photo, before/after, styled quote graphic).\n\nStay relevant for 90 days; no breaking news reliance.\n\nCONTENT VARIETY REQUIREMENTS\n• 1 heartfelt community story post\n• 1 opinion post that invites debate\n• 1 educational carousel (4–6 slides)\n• 1 stat-based post with a shareable graphic\n• 1 Facebook Live topic outline (20–30 min)\n• 1 “member spotlight” post\n• 1 group-exclusive tip/resource post\n• Remaining 5 ideas: free choice, but mix formats (meme, short video, Q&A, poll, etc.)\n\nOUTPUT RULES\n• Deliver exactly 12 ideas.\n• Conform 100% to the JSON schema below—no extra keys, headings, or commentary.\n• “description” ≤90 words; “imagePrompt” ≤30 words.\n• Mirror the supplied Tonality.\n• Soft-sell only: Key Offer is a logical next step or resource.\n\nOUTPUT SCHEMA (strict)\n{\n  \"name\": \"facebook_content_ideas\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"ideas\": {\n        \"type\": \"array\",\n        \"description\": \"List of Facebook content ideas with topic, description, and visual/image suggestions.\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"topic\": { \"type\": \"string\", \"description\": \"Title of the idea or post theme.\" },\n            \"description\": { \"type\": \"string\", \"description\": \"Explanation of the idea, approach, and context.\" },\n            \"imagePrompt\": { \"type\": \"string\", \"description\": \"Prompt or suggestion for accompanying visual/image.\" }\n          },\n          \"required\": [\"topic\", \"description\", \"imagePrompt\"],\n          \"additionalProperties\": false\n        }\n      }\n    },\n    \"required\": [\"ideas\"],\n    \"additionalProperties\": false\n  },\n  \"strict\": true\n}\n\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [560, 2352],
      "id": "8989e938-e835-4996-abcf-a73257ac4ce6",
      "name": "Facebook Idea Generator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $json.body.topic.topic }}\nTopic Description: {{ $json.body.topic.description }}\n\n\nStratergy Name: {{ $json.body.angleDetails.header }}\nStratergy Description: {{ $json.body.angleDetails.description }}\nTonality: {{ $json.body.angleDetails.tonality }}\nObjective: {{ $json.body.angleDetails.objective }}\nKey Offer: {{ $json.body.companyDetails.keyOffer }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a veteran Facebook content strategist who has spent the last decade turning raw ideas into high-engagement posts—shares, comments, group discussions, and messenger conversations. You know every lever: the first-line hook that stops the scroll, the blend of story + insight that sparks shares, and how Facebook’s algorithm rewards dwell time and interaction in comments.\n\nUSER INPUT (ingested silently)\n• Topic: {{ $json.body.topic.topic }}\n• Topic Description: {{ $json.body.topic.description }}\n\n• Strategy Name: {{ $json.body.angleDetails.header }}\n• Strategy Description: {{ $json.body.angleDetails.description }}\n• Tonality: {{ $json.body.angleDetails.tonality }}\n• Objective: {{ $json.body.angleDetails.objective }}\n• Key Offer: {{ $json.body.companyDetails.keyOffer }}\n\nYOUR TASK\nCraft one top-tier Facebook post—choose EITHER:\na) A concise, share-worthy standalone post (≤150 words)\nb) A narrative-led, comment-provoking long post (300–500 words)\n\nThe content must:\n\nHook with the first 1–2 lines (make them visible without clicking “See More”).\n\nRadiate the chosen Tonality.\n\nDrive toward the Objective (awareness, leads, authority, etc.).\n\nSoftly bridge to the Key Offer without sounding salesy.\n\nInclude social triggers (relatable moment, insider tip, personal micro-story).\n\nEnd with a strong question or challenge to drive comments.\n\nOUTPUT RULES\n• Deliver ONLY the post text—no labels or commentary.\n• Use short paragraphs (1–3 lines) to aid mobile readability.\n• Max 2 emojis if Tonality permits.\n• No hashtags except branded or highly relevant.\n• Include the soft CTA at the end or as a PS.\n\nINTERNAL THINKING CHECKLIST (DO NOT OUTPUT)\nA. Does the first sentence make someone stop scrolling?\nB. Does the story or insight naturally earn shares or comments?\nC. Is the Tonality consistent in every sentence?\nD. Is the Key Offer naturally integrated?\nE. Does the ending invite actual responses instead of passive likes?\n\nBEGIN."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [624, 3904],
      "id": "4dbdadb1-9a04-4e41-ad60-dad17cb46ec0",
      "name": "Facebook Content Generator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $json.body.topic.topic }}\nTopic Description: {{ $json.body.topic.description }}\n\n\nStratergy Name: {{ $json.body.angleDetails.header }}\nStratergy Description: {{ $json.body.angleDetails.description }}\nTonality: {{ $json.body.angleDetails.tonality }}\nObjective: {{ $json.body.angleDetails.objective }}\nKey Offer: {{ $json.body.companyDetails.keyOffer }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a seasoned Instagram storyteller who has mastered turning raw ideas into high-save, high-share content—carousel swipes, story replies, and comment threads. You understand every lever: the opening frame or caption hook, visual pacing, and how the algorithm favors saves, shares, and watch time.\n\nUSER INPUT (ingested silently)\n• Topic: {{ $json.body.topic.topic }}\n• Topic Description: {{ $json.body.topic.description }}\n\n• Strategy Name: {{ $json.body.angleDetails.header }}\n• Strategy Description: {{ $json.body.angleDetails.description }}\n• Tonality: {{ $json.body.angleDetails.tonality }}\n• Objective: {{ $json.body.angleDetails.objective }}\n• Key Offer: {{ $json.body.companyDetails.keyOffer }}\n\nYOUR TASK\nCraft one top-tier Instagram asset—choose EITHER:\na) A single compelling post caption (≤150 words) for a static image or reel\nb) A carousel caption with a high-retention opening + frame-by-frame micro-hooks\n\nThe content must:\n\nOpen with a bold or curiosity-driven first line (so users click “More”).\n\nMaintain Tonality in every phrase.\n\nFulfil the Objective while staying native to Instagram culture.\n\nSoftly integrate the Key Offer in the final third of the caption.\n\nEmbed visual or mental imagery to match potential creatives.\n\nEnd with an engagement-driving question or call for DMs.\n\nOUTPUT RULES\n• Deliver ONLY the caption text—no labels or commentary.\n• Break into short lines for mobile readability.\n• Max 3 emojis if Tonality allows; minimal hashtags (branded + ≤3 niche).\n• No external links; instead, prompt action via bio link or DM.\n\nINTERNAL THINKING CHECKLIST (DO NOT OUTPUT)\nA. Is the first sentence strong enough to get a “More” click?\nB. Could this caption inspire a save or share?\nC. Is the Key Offer naturally connected to the story or insight?\nD. Does the final line spark interaction?\n\nBEGIN."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [624, 4064],
      "id": "19418f77-ef13-4eac-94ea-1cb2f66255f0",
      "name": "Instagram Content Generator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $json.body.topic.topic }}\nTopic Description: {{ $json.body.topic.description }}\n\n\nStratergy Name: {{ $json.body.angleDetails.header }}\nStratergy Description: {{ $json.body.angleDetails.description }}\nTonality: {{ $json.body.angleDetails.tonality }}\nObjective: {{ $json.body.angleDetails.objective }}\nKey Offer: {{ $json.body.companyDetails.keyOffer }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a battle-tested YouTube content architect with a decade of turning raw ideas into high-retention videos—viral titles, irresistible thumbnails, and watch-times that please the algorithm. You know how to trigger curiosity before the first second, how to structure the story arc for retention, and when to deliver the CTA for maximum conversions.\n\nUSER INPUT (ingested silently)\n• Topic: {{ $json.body.topic.topic }}\n• Topic Description: {{ $json.body.topic.description }}\n\n• Strategy Name: {{ $json.body.angleDetails.header }}\n• Strategy Description: {{ $json.body.angleDetails.description }}\n• Tonality: {{ $json.body.angleDetails.tonality }}\n• Objective: {{ $json.body.angleDetails.objective }}\n• Key Offer: {{ $json.body.companyDetails.keyOffer }}\n\nYOUR TASK\nCraft one top-tier YouTube content plan—deliver:\na) A click-magnet video title (≤65 characters)\nb) A 3–5 sentence video description designed to increase CTR and watch time\nc) A hook script for the first 15 seconds\n\nThe content must:\n\nNail the Topic in a way that sparks instant curiosity.\n\nMatch Tonality from the first frame to the final CTA.\n\nAdvance the Objective without derailing entertainment or value.\n\nIntegrate the Key Offer subtly within the description or final 20% of the video.\n\nUse open loops, tension, or bold claims to sustain retention.\n\nOUTPUT RULES\n• Deliver title, description, and hook script only—no explanations.\n• Description should be scannable with short sentences and 1–2 line spacing.\n• No more than 3 relevant hashtags in the description.\n\nINTERNAL THINKING CHECKLIST (DO NOT OUTPUT)\nA. Would this title compete with top videos in the niche?\nB. Is the hook irresistible in the first 15 seconds?\nC. Does the description drive both CTR and retention?\nD. Is the Key Offer placement natural and timed for high engagement?\n\nBEGIN."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [624, 4208],
      "id": "be71b361-fb59-449f-ba04-eae5be6aad70",
      "name": "Youtube Content Generator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $json.body.topic.topic }}\nTopic Description: {{ $json.body.topic.description }}\n\n\nStratergy Name: {{ $json.body.angleDetails.header }}\nStratergy Description: {{ $json.body.angleDetails.description }}\nTonality: {{ $json.body.angleDetails.tonality }}\nObjective: {{ $json.body.angleDetails.objective }}\nKey Offer: {{ $json.body.companyDetails.keyOffer }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a TikTok-native content creator who has mastered turning raw ideas into addictive short-form videos—thumb-stopping openings, high-paced edits, and engagement patterns that feed the For You Page. You know every lever: visual hooks, curiosity loops, trending audio, and how to keep viewers watching past the 70% mark.\n\nUSER INPUT (ingested silently)\n• Topic: {{ $json.body.topic.topic }}\n• Topic Description: {{ $json.body.topic.description }}\n\n• Strategy Name: {{ $json.body.angleDetails.header }}\n• Strategy Description: {{ $json.body.angleDetails.description }}\n• Tonality: {{ $json.body.angleDetails.tonality }}\n• Objective: {{ $json.body.angleDetails.objective }}\n• Key Offer: {{ $json.body.companyDetails.keyOffer }}\n\nYOUR TASK\nCraft one top-tier TikTok content concept—deliver:\na) A 3–6 second opening hook script (visual + verbal)\nb) A short narrative or tip structure for 15–30s total runtime\nc) A soft CTA integrated into the final 3 seconds\n\nThe content must:\n\nOpen with movement, contrast, or a bold statement.\n\nReflect Tonality in both language and pacing.\n\nAdvance the Objective without breaking entertainment flow.\n\nIntegrate the Key Offer in a native, subtle way.\n\nPrompt comments, duets, or shares.\n\nOUTPUT RULES\n• Deliver ONLY the concept script—no labels or explanations.\n• Keep language punchy; no filler.\n• Avoid hashtags except branded or highly relevant trending tags (≤3).\n\nINTERNAL THINKING CHECKLIST (DO NOT OUTPUT)\nA. Will this grab attention in the first 2 seconds?\nB. Does it give a reason to watch until the end?\nC. Is the Key Offer hidden in value, not selling?\nD. Does the ending invite interaction?\n\nBEGIN."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [624, 4368],
      "id": "2a72ab8d-03a1-41cc-adbb-45e637f7ac43",
      "name": "TikTok Content Generator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $json.body.topic.topic }}\nTopic Description: {{ $json.body.topic.description }}\n\n\nStratergy Name: {{ $json.body.angleDetails.header }}\nStratergy Description: {{ $json.body.angleDetails.description }}\nTonality: {{ $json.body.angleDetails.tonality }}\nObjective: {{ $json.body.angleDetails.objective }}\nKey Offer: {{ $json.body.companyDetails.keyOffer }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a veteran long-form content strategist with a decade of turning raw ideas into high-traffic blog posts—optimized for search, shareability, and reader retention. You understand every lever: SEO-driven titles, narrative flow, scannable structure, and subtle CTAs that convert without feeling like ads.\n\nUSER INPUT (ingested silently)\n• Topic: {{ $json.body.topic.topic }}\n• Topic Description: {{ $json.body.topic.description }}\n\n• Strategy Name: {{ $json.body.angleDetails.header }}\n• Strategy Description: {{ $json.body.angleDetails.description }}\n• Tonality: {{ $json.body.angleDetails.tonality }}\n• Objective: {{ $json.body.angleDetails.objective }}\n• Key Offer: {{ $json.body.companyDetails.keyOffer }}\n\nYOUR TASK\nCraft one top-tier blog post draft—deliver:\na) A click-magnet, SEO-friendly title (≤65 characters)\nb) An outline with 5–7 key sections\nc) An engaging 150–200 word introduction that hooks and sets context\n\nThe content must:\n\nNail the Topic with an angle that stands out in search and social.\n\nRadiate the chosen Tonality.\n\nDeliver value aligned with the Objective.\n\nIntegrate the Key Offer naturally in the closing section or sidebar mention.\n\nUse subheadings, bullet points, and short paragraphs for readability.\n\nOUTPUT RULES\n• Deliver ONLY title, outline, and introduction—no extra commentary.\n• Title must be clear, compelling, and keyword-aligned.\n• Outline should be logical, sequential, and value-driven.\n\nINTERNAL THINKING CHECKLIST (DO NOT OUTPUT)\nA. Is the title competitive in search results?\nB. Does the intro make readers commit to the full read?\nC. Is the structure optimized for both humans and SEO?\nD. Is the Key Offer integration organic and unobtrusive?\n\nBEGIN."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [624, 4544],
      "id": "3538532b-d5dd-48fc-b4ff-c604cd374837",
      "name": "Blog / Written Content Generator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=INPUT VARIABLES (ingested silently)  \nBrand Name: {{ $('Webhook').item.json.body.brand.name }}\nStrategic Context:  {{ $('Webhook').item.json.body.brand.additionalInfo }}\nBrand Voice DNA: {{ $('Webhook').item.json.body.brand.brandTone }}\nCore Value Engine: {{ $('Webhook').item.json.body.brand.keyOffer }}\nAudience Psychology: {{ $('Webhook').item.json.body.brand.targetAudience }}\n\n---\nFOR THE HEADER, REALLY IMPORTANT!!: DON'T USE FLASHY WORDS THAT DON'T ACTUALLY SAY ANYTHING, JUST CLEARLY DESCRIBE THE TARGET AUDIENCE AND THE CONTENT ANGLE, 0 FLASHY WORDS, FLUFF or BS PLEASE!!\nThe description should be in Markdown. Be straight forward with language don't use flashy words, be straight.\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You're an Instagram growth strategist. Create 3-4 different content strategies that build engaged followings and drive measurable results on Instagram in 2025.\n\nINPUTS:\nBrand: {{ $('Switch').item.json.body.brand.name }}\nContext: {{ $('Switch').item.json.body.brand.additionalInfo }}\nVoice: {{ $('Switch').item.json.body.brand.brandTone }}\nWhat they sell: {{ $('Switch').item.json.body.brand.keyOffer }}\nTarget audience: {{ $('Switch').item.json.body.brand.targetAudience }}\n\nDELIVERABLE:\nReturn 3-4 strategies as JSON objects:\n\n{\n  \"header\": \"Strategy name that clearly states the approach\",\n  \"description\": \"Full strategy in Markdown covering:\\n\\n    **Content Pillars**: 3-4 main themes for the account\\n\\n    **Post Formats**:\\n    - Reel concepts and scripts (hooks, length, pacing)\\n    - Carousel post frameworks (educational, storytelling, checklists)\\n    - Story ideas (polls, quizzes, mini-tutorials)\\n    - Live stream outlines\\n    - Collaboration posts (co-created content, shoutouts)\\n\\n    **Posting Plan**:\\n    - Frequency per format (Reels, carousels, stories, Lives)\\n    - Best posting times\\n    - Reel-to-carousel ratio\\n\\n    **Growth Tactics**:\\n    - Hashtag approach (niche + broad)\\n    - Trends integration without losing brand voice\\n    - Comment strategies (first comment CTAs, community tagging)\\n    - Collab/creator partnerships\\n\\n    **Voice Guidelines**: Tone, caption style, and CTA placement\\n\\n    **Weekly Content Calendar**: Example week with specific post ideas and captions\\n\\n    **Metrics**: Reach, saves, shares, profile visits, follower growth, engagement rate\",\n  \"objective\": \"What this achieves for the brand and audience\"\n}\n\nREQUIREMENTS:\n- Strategies must be distinct, targeting different needs or styles\n- Include Reel hooks, carousel title examples, and Story prompt examples\n- Focus on what Instagram rewards now: Reels, Saves, Shares, watch time, retention\n- Output JSON array only\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [528, 1040],
      "id": "c3905197-b4de-40b8-86be-ddbd49450b78",
      "name": "Instagram Strategy Angles",
      "retryOnFail": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.platforms[0] }}",
                    "rightValue": "twitter",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1bb8cc66-d172-4ac9-ad9a-38a76db0d556"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "twitter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "121abb4b-0100-42df-bbcf-cd84effa8b37",
                    "leftValue": "={{ $json.body.platforms[1] }}",
                    "rightValue": "linkedin",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "linkedin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7f5b7e7d-2c3d-4561-93db-0a191df083a1",
                    "leftValue": "={{ $json.body.platforms[2] }}",
                    "rightValue": "newsletter",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "newsletter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1c9c5925-8b9f-4521-aba6-a72e61079387",
                    "leftValue": "={{ $json.body.platforms[3] }}",
                    "rightValue": "facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "902551dd-c1ab-45a9-8a09-11e335742720",
                    "leftValue": "={{ $json.body.platforms[4] }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "instagam"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "205ca793-2d53-4743-aa2e-bd258005df5c",
                    "leftValue": "={{ $json.body.platforms[5] }}",
                    "rightValue": "youtube",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "youtube"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6a91928d-717b-4b14-a8ed-8dbad5db9441",
                    "leftValue": "={{ $json.body.platforms[6] }}",
                    "rightValue": "tiktok",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tiktok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f2c2e553-7363-40bf-88c6-8d6fca7eeb34",
                    "leftValue": "={{ $json.body.platforms[7] }}",
                    "rightValue": "blog",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "blog"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [160, 704],
      "id": "a4099e9b-3a8b-43f9-a31c-eccd197a859e",
      "name": "Switch Strategies"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.platforms[0] }}",
                    "rightValue": "twitter",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3ed74381-91c3-491b-a6ee-e50c2b4f653b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "twitter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2bfa79e5-9abd-4a75-83b6-c669388d4e88",
                    "leftValue": "={{ $json.body.platforms[1] }}",
                    "rightValue": "linkedin",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "linkedin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "87682ed3-b1fb-4c59-b383-6a40a0be1dc7",
                    "leftValue": "={{ $json.body.platforms[2] }}",
                    "rightValue": "newsletter",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "newsletter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ad5080da-d220-4b16-9066-2be910a8d026",
                    "leftValue": "={{ $json.body.platforms[3] }}",
                    "rightValue": "facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1a9510e8-9be4-47e0-9b0f-902f70df0dbd",
                    "leftValue": "={{ $json.body.platforms[4] }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "64d09c11-4f40-4475-ab87-476d470a2b18",
                    "leftValue": "={{ $json.body.platforms[5] }}",
                    "rightValue": "youtube",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "youtube"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "11c0125d-7385-4650-ab7d-5b0a8404d45b",
                    "leftValue": "={{ $json.body.platforms[6] }}",
                    "rightValue": "tiktok",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tiktok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6de198de-b21f-42e0-97d8-b3d5b9b117ec",
                    "leftValue": "={{ $json.body.platforms[7] }}",
                    "rightValue": "blog",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "blog"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [160, 2160],
      "id": "c4580fba-ebda-4794-8284-8c66fcd0ede6",
      "name": "Switch Ideas"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.platforms[0] }}",
                    "rightValue": "twitter",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3ed74381-91c3-491b-a6ee-e50c2b4f653b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "twitter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2bfa79e5-9abd-4a75-83b6-c669388d4e88",
                    "leftValue": "={{ $json.body.platforms[1] }}",
                    "rightValue": "linkedin",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "linkedin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "87682ed3-b1fb-4c59-b383-6a40a0be1dc7",
                    "leftValue": "={{ $json.body.platforms[2] }}",
                    "rightValue": "newsletter",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "newsletter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "690e667c-ad9b-48b6-8bfb-d623588a19e4",
                    "leftValue": "={{ $('Webhook').item.json.body.platforms[3] }}",
                    "rightValue": "facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "facebook"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e1177e65-d8ee-43e6-a716-44453ba9b678",
                    "leftValue": "={{ $('Webhook').item.json.body.platforms[4] }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "instagram"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e7cdb634-6dd1-4c94-8746-4bf892a9bf9a",
                    "leftValue": "={{ $('Webhook').item.json.body.platforms[5] }}",
                    "rightValue": "youtube",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "youtube"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cb76baf9-668a-4333-b615-b42c61533a77",
                    "leftValue": "={{ $('Webhook').item.json.body.platforms[6] }}",
                    "rightValue": "tiktok",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tiktok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ed76daeb-fac3-4e00-9674-11262d0ff612",
                    "leftValue": "={{ $('Webhook').item.json.body.platforms[7] }}",
                    "rightValue": "blog",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "blog"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [112, 3648],
      "id": "8d55e9c4-9ee8-4892-888f-d4576a4cffc9",
      "name": "Switch Content"
    },
    {
      "parameters": {
        "tableId": "content",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "idea_id",
              "fieldValue": "={{ $('Webhook').item.json.body.topic.idea.id }}"
            },
            {
              "fieldId": "content_body",
              "fieldValue": "={{ $json.text }}"
            },
            {
              "fieldId": "platform",
              "fieldValue": "={{ $('Webhook').item.json.body.platforms[5] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1296, 4272],
      "id": "a4a53708-1e66-48d4-8744-283ce4b6ac07",
      "name": "Add Youtube content",
      "credentials": {
        "supabaseApi": {
          "id": "cBT6cAc8Tl86X0wU",
          "name": "Supbase Marketing"
        }
      }
    },
    {
      "parameters": {
        "tableId": "content",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "idea_id",
              "fieldValue": "={{ $('Webhook').item.json.body.topic.idea.id }}"
            },
            {
              "fieldId": "content_body",
              "fieldValue": "={{ $json.text }}"
            },
            {
              "fieldId": "platform",
              "fieldValue": "={{ $('Webhook').item.json.body.platforms[6] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1296, 4448],
      "id": "83545460-3fa8-4ccf-be29-453c7dbd5ac2",
      "name": "Add TikTok content",
      "credentials": {
        "supabaseApi": {
          "id": "cBT6cAc8Tl86X0wU",
          "name": "Supbase Marketing"
        }
      }
    },
    {
      "parameters": {
        "tableId": "content",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "idea_id",
              "fieldValue": "={{ $('Webhook').item.json.body.topic.idea.id }}"
            },
            {
              "fieldId": "content_body",
              "fieldValue": "={{ $json.text }}"
            },
            {
              "fieldId": "platform",
              "fieldValue": "={{ $('Webhook').item.json.body.aiContext.platforms[7] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1296, 4640],
      "id": "32c8267a-44bd-46ee-92dd-cadf1cdc883a",
      "name": "Add Blog content",
      "credentials": {
        "supabaseApi": {
          "id": "cBT6cAc8Tl86X0wU",
          "name": "Supbase Marketing"
        }
      }
    },
    {
      "parameters": {
        "tableId": "content",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "idea_id",
              "fieldValue": "={{ $('Webhook').item.json.body.topic.idea.id }}"
            },
            {
              "fieldId": "content_body",
              "fieldValue": "={{ $json.text }}"
            },
            {
              "fieldId": "platform",
              "fieldValue": "={{ $('Webhook').item.json.body.aiContext.platforms[4] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1296, 4112],
      "id": "5ec0f091-e40f-4c09-9dfe-f90066f00310",
      "name": "Add Instagram content",
      "credentials": {
        "supabaseApi": {
          "id": "cBT6cAc8Tl86X0wU",
          "name": "Supbase Marketing"
        }
      }
    },
    {
      "parameters": {
        "tableId": "content",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "idea_id",
              "fieldValue": "={{ $('Webhook').item.json.body.topic.idea.id }}"
            },
            {
              "fieldId": "content_body",
              "fieldValue": "={{ $json.text }}"
            },
            {
              "fieldId": "platform",
              "fieldValue": "={{ $('Webhook').item.json.body.aiContext.platforms[3] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1296, 3952],
      "id": "3c0e1903-390a-4bf4-a488-38c8992734ad",
      "name": "Add Facebook content",
      "credentials": {
        "supabaseApi": {
          "id": "cBT6cAc8Tl86X0wU",
          "name": "Supbase Marketing"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv856940.hstgr.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36",
            "content-length": "5073",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9,es;q=0.8,fr-FR;q=0.7,fr;q=0.6",
            "content-type": "application/json",
            "origin": "https://zp1v56uxy8rdx5ypatb0ockcb9tr6a-oci3--5173--96435430.local-credentialless.webcontainer-api.io",
            "priority": "u=1, i",
            "referer": "https://zp1v56uxy8rdx5ypatb0ockcb9tr6a-oci3--5173--96435430.local-credentialless.webcontainer-api.io/",
            "sec-ch-ua": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Google Chrome\";v=\"138\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-client": "ai_marketing_v2",
            "x-env": "production",
            "x-forwarded-for": "92.145.49.28",
            "x-forwarded-host": "n8n.srv856940.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "1e777b048e49",
            "x-real-ip": "92.145.49.28",
            "x-request-id": "7e55d213-47f7-46e9-8d8f-61df71facfbd"
          },
          "params": {},
          "query": {},
          "body": {
            "identifier": "generateIdeas",
            "operation": "create_ideas_from_angle",
            "company_id": 28,
            "strategy_id": 42,
            "strategyIndex": 1,
            "angle_number": 1,
            "platforms": [
              "",
              "linkedin",
              "",
              "facebook",
              "instagram",
              "",
              "",
              ""
            ],
            "meta": {
              "user_id": "a28483ef-f236-468e-b114-3b2527076b20",
              "source": "app",
              "ts": "2025-08-23T19:12:40.009Z"
            },
            "user_id": "a28483ef-f236-468e-b114-3b2527076b20",
            "brand": {
              "id": 28,
              "name": "Elvia Business and Tax Service"
            },
            "brandDetails": {
              "id": 28,
              "name": "Elvia Business and Tax Service"
            },
            "data": {
              "brandData": {
                "id": 28,
                "name": "Elvia Business and Tax Service"
              }
            },
            "company": {
              "id": 28,
              "brand_name": "Elvia Business and Tax Service"
            },
            "strategy": {
              "id": 42,
              "platforms": "[\"\",\"linkedin\",\"\",\"facebook\",\"instagram\",\"\",\"\",\"\"]",
              "created_at": "2025-08-23T19:12:24.995073+00:00"
            },
            "angle": {
              "angleNumber": 1,
              "number": 1,
              "header": "Educational Visual Content for Small Business Tax Payers",
              "description": "## Content Pillars:\n- **Tax Tips**: Share common tax deductions and credits.\n- **Client Stories**: Showcase how clients successfully navigated tax complexities with Elvia's help.\n- **Accounting Basics**: Explain basic accounting principles in a digestible manner.\n- **Tax Compliance**: Update followers on changes in tax laws and deadlines.\n\n## Post Formats:\n- **Reels Concepts**:  \n  - **Tip of the Month**: \"Did you know you can deduct X? Learn more!\" (15-30 sec, quick visual tips)  \n  - **Client Success Story**: Share a quick before-and-after journey of a client (30-60 sec, engaging visuals).  \n\n- **Carousel Post Frameworks**:  \n  - **Educational Carousels**: E.g., \"5 Common Tax Deductions You Might Be Missing!\" (3-5 slides, visuals, and concise text)  \n  - **Checklist for Tax Season**: E.g., \"Prepping for Tax Season? Here’s Your Checklist!\" (5-7 slides, actionable steps).\n\n- **Story Ideas**:  \n  - **Poll**: \"Have you filed your taxes yet? Yes or No?\"  \n  - **Quiz**: \"What’s the tax deadline this year?\"  \n  - **Mini-Tutorials**: Quick explanations of tax forms or terms.\n\n- **Live Stream Outlines**:  \n  - Title: \"Understanding Your Tax Forms\"  \n  - Topics: Discuss different tax forms, break down complex information, and answer follower questions.\n\n- **Collaboration Posts**:  \n  - Partner with local businesses for co-hosted content on financial wellness.\n\n## Posting Plan:\n- **Frequency**:  \n  - Reels: 2x/week  \n  - Carousels: 1x/week  \n  - Stories: 3-5x/week  \n  - Live Streams: 1x/month  \n- **Best Posting Times**: Weekdays between 11 AM - 1 PM. \n- **Reel-to-Carousel Ratio**: Post 2 Reels for every 1 Carousel.\n\n## Growth Tactics:\n- **Hashtag Approach**:  \n  - Use 10 niche hashtags relevant to tax/accounting + 5 broad trending hashtags.  \n- **Trends Integration**: Use trending sounds for Reels while ensuring a professional tone.  \n- **Comment Strategies**:  \n  - Engage with the first comment prompt (e.g., \"What tax tip do you want to know next?\").  \n  - Tag community members when relevant to encourage shares.\n- **Collaboration/Creator Partnerships**: Collaborate with local guides on small business finance.\n\n## Voice Guidelines:\n- Tone: Warm, professional, and approachable.  \n- Caption Style: Conversational but clear, using simple language.  \n- CTA Placement: Ensure CTAs are proactive, encouraging followers to engage or ask questions.\n\n## Weekly Content Calendar:\n- **Monday**: Reel - Quick tax deduction tip.  \n- **Tuesday**: Story Poll - Tax filing progress.  \n- **Wednesday**: Carousel - 5 tax refunds tips.  \n- **Thursday**: Live Stream - \"Ask a Tax Pro\" session.  \n- **Friday**: Story Quiz - Tax trivia.  \n\n## Metrics:\n- Track reach, saves, shares, profile visits, follower growth, and engagement rates to measure success.",
              "objective": "This strategy builds an engaged audience by providing accessible, informative content that demystifies tax topics, fostering trust and financial competence among small business operators.",
              "tonality": "Elvia Business and Tax Service adopts a communication style that is approachable yet professional, blending warmth with authority to build confidence and ease client anxiety about financial matters. The tone is conversational but respectful, avoiding excessive technical jargon to remain accessible to non-expert clients while demonstrating sufficient depth of knowledge to assure competence. The messaging often uses reassuring emotional triggers like clarity, reliability, and financial empowerment. Storytelling is client-centric, sharing illustrative examples of resolving complex tax issues or simplifying accounting challenges, differentiating from typical sterile industry communication by adding humanized and practical narratives. The content DNA reflects values of trust, accuracy, client dedication, and empowerment. It highlights unique authority in individualized, hands-on service combined with a commitment to demystifying tax processes, emphasizing integrity and responsiveness throughout all client interactions.",
              "strategy": {
                "id": 42,
                "platforms": "[\"\",\"linkedin\",\"\",\"facebook\",\"instagram\",\"\",\"\",\"\"]"
              }
            }
          },
          "webhookUrl": "https://n8n.srv856940.hstgr.cloud/webhook/content-saas",
          "executionMode": "production"
        }
      }
    ],
    "Edit Fields3": [
      {
        "json": {
          "output": [
            {
              "topic": "Together Through Thick and Thin",
              "description": "Share a heartfelt story of a member who overcame challenges with community support. Begin with a relatable struggle, reveal a surprising helping hand, and end with a warm call to join similar future conversations. Subtly mention our Key Offer as the next step in personal growth.",
              "imagePrompt": "Candid community gathering photo with warm lighting"
            },
            {
              "topic": "Bold Opinions, Open Minds",
              "description": "Kick off a discussion with a strong opinion about community change. Start with a common concern, introduce an unexpected twist, and invite members to debate with passion. The post subtly suggests exploring our Key Offer as a resource for deeper insights.",
              "imagePrompt": "Stylized digital collage of thought-provoking imagery"
            },
            {
              "topic": "Learn and Grow Carousel",
              "description": "Design a 5-slide educational carousel that tells the story of transforming everyday challenges into opportunities. Each slide details a step in the journey, includes helpful tips, and ends with a soft mention of our Key Offer to keep learning.",
              "imagePrompt": "Infographic style slides with clear, concise visuals"
            },
            {
              "topic": "Power of Numbers",
              "description": "Share a stat-based post revealing surprising community trends. Open with a relatable observation, present eye-opening data, and conclude with an emotional takeaway that ties back to our Key Offer. Encourage shares through reaction-bait insights.",
              "imagePrompt": "Clean bar chart with highlighted key statistics"
            },
            {
              "topic": "Behind the Scenes Live Chat",
              "description": "Host a Facebook Live session where a team member narrates behind-the-scenes stories. Start with a relatable setup, reveal surprising production insights, and end with Q&A that softly promotes our Key Offer as a resource for further exploration.",
              "imagePrompt": "Casual live studio setup with community visuals"
            },
            {
              "topic": "Member Spotlight: A True Inspiration",
              "description": "Feature a community member’s journey from struggle to success. Begin with their early challenges, reveal their breakthrough moment, and share an emotional conclusion that encourages others. Mention our Key Offer as a supportive next step.",
              "imagePrompt": "Friendly portrait of the featured member in action"
            },
            {
              "topic": "Exclusive Group Resource",
              "description": "Offer a special tip exclusively for group members. Start with a short story about a common problem, share a secret tip, and invite members to discuss their experiences. A mention of our Key Offer serves as an additional resource for success.",
              "imagePrompt": "Clean screenshot of resource tips on a digital interface"
            },
            {
              "topic": "Community Meme Moment",
              "description": "Post a lighthearted meme that echoes a common community situation. Start with a relatable setup, insert a humorous twist, and finish with a call for reactions. The meme subtly hints at our Key Offer as a fun resource to check out.",
              "imagePrompt": "Funny meme graphic with relatable community caption"
            },
            {
              "topic": "Quick Behind-the-Scenes Video",
              "description": "Share a short video capturing the team’s daily hustle. Start with a day in the life, show unexpected behind-the-scenes moments, and end with an uplifting CTA that directs viewers gently to our Key Offer.",
              "imagePrompt": "Candid video frame highlighting creative teamwork"
            },
            {
              "topic": "Ask Me Anything Q&A",
              "description": "Launch a Q&A post inviting members to share their challenges. Begin with a personal anecdote, reveal intriguing insights through common questions, and conclude with an encouraging note that our Key Offer might help answer more questions.",
              "imagePrompt": "Vibrant image with question marks and community icons"
            },
            {
              "topic": "Community Poll: Your Voice Matters",
              "description": "Create a group poll that starts with a narrative about a shared experience, follows with surprising survey options, and ends with a prompt for discussion. Soft mention of our Key Offer as a resource for more information.",
              "imagePrompt": "Simple poll graphic with engaging, interactive design"
            },
            {
              "topic": "Inspirational Quote Share",
              "description": "Share a styled quote graphic that tells a mini-story of resilience. Begin with a brief personal narrative, present the quote as a turning point, and end with an invitation to learn more via our Key Offer, sparking emotional shares.",
              "imagePrompt": "Elegant, stylish quote graphic with warm tones"
            }
          ]
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Strategies",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Ideas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request12": {
      "main": [
        [
          {
            "node": "HTTP Request13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request13": {
      "main": [
        [
          {
            "node": "Markdown1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "LinkedIn Stratergy Angles",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Twitter Stratergy Angles",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Newsletter Stratergy Angles",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Facebook Strategy Angles",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Instagram Strategy Angles",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Youtube Strategy Angles",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "TikTok Strategy Angles",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Blog / Written Strategy Angles",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Stratergy Angles": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Newsletter Stratergy Angles",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Create Strategies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter Stratergy Angles": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Newsletter Stratergy Angles": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "LinkedIn Idea Generator",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Twitter Idea Generator",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Newsletter Idea Generator",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Instagram Idea Generator",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "YouTube Idea Generator",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "TikTok Idea Generator",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Blogs / Written content Idea Generator",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Facebook Idea Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "LinkedIn Idea Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Twitter Idea Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Newsletter Idea Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Instagram Idea Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "YouTube Idea Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "TikTok Idea Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Blogs / Written content Idea Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Facebook Idea Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Create Ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Idea Generator": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twitter Idea Generator": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Newsletter Content Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "LinkedIn Content Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Twitter Content Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Newsletter Content Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Facebook Content Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Instagram Content Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Youtube Content Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "TikTok Content Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Blog / Written Content Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Twitter Content Generator": {
      "main": [
        [
          {
            "node": "Add Twitter content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Content Generator": {
      "main": [
        [
          {
            "node": "Add Linkedin content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Newsletter Content Generator": {
      "main": [
        [
          {
            "node": "Add Newsletter content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Newsletter Idea Generator": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "Twitter Stratergy Angles",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "LinkedIn Stratergy Angles",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Add Twitter content": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Linkedin content": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Newsletter content": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Company": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Strategies": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Ideas": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser6": {
      "ai_outputParser": [
        [
          {
            "node": "Facebook Strategy Angles",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Strategy Angles": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser7": {
      "ai_outputParser": [
        [
          {
            "node": "Instagram Strategy Angles",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser8": {
      "ai_outputParser": [
        [
          {
            "node": "Youtube Strategy Angles",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser9": {
      "ai_outputParser": [
        [
          {
            "node": "TikTok Strategy Angles",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser10": {
      "ai_outputParser": [
        [
          {
            "node": "Blog / Written Strategy Angles",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Youtube Strategy Angles": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Strategy Angles": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog / Written Strategy Angles": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Idea Generator": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Idea Generator": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Idea Generator": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blogs / Written content Idea Generator": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Content Generator": {
      "main": [
        [
          {
            "node": "Add Facebook content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Content Generator": {
      "main": [
        [
          {
            "node": "Add Instagram content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube Content Generator": {
      "main": [
        [
          {
            "node": "Add Youtube content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TikTok Content Generator": {
      "main": [
        [
          {
            "node": "Add TikTok content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog / Written Content Generator": {
      "main": [
        [
          {
            "node": "Add Blog content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Strategy Angles": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Strategies": {
      "main": [
        [
          {
            "node": "Twitter Stratergy Angles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LinkedIn Stratergy Angles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Newsletter Stratergy Angles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Facebook Strategy Angles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instagram Strategy Angles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Youtube Strategy Angles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TikTok Strategy Angles",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Blog / Written Strategy Angles",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "Switch Ideas": {
      "main": [
        [
          {
            "node": "Twitter Idea Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LinkedIn Idea Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Newsletter Idea Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Facebook Idea Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instagram Idea Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "YouTube Idea Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TikTok Idea Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Blogs / Written content Idea Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Content": {
      "main": [
        [
          {
            "node": "Twitter Content Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LinkedIn Content Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Newsletter Content Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Facebook Content Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instagram Content Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Youtube Content Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TikTok Content Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Blog / Written Content Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Youtube content": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add TikTok content": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Blog content": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Instagram content": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Facebook content": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Idea Generator": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3719cc09-8098-439e-b02e-8df23285d41b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe9d3a12f258c7c25e0241bdac4abdc1d2d4cbca003a5fd500ebff17b6038d7a"
  },
  "id": "zXn4K3DFlm2s5NS6",
  "tags": []
}
